{"openapi":"3.0.0","info":{"title":"Shramdaan API","version":"1.0.0","description":"REST API documentation for Shramdaan"},"servers":[{"url":"https://backend.shramdan.org","description":"Production server"},{"url":"http://localhost:3000","description":"Development server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"paths":{"/api/v1/provinces":{"get":{"summary":"List all provinces in Nepal","description":"Reference data for the Issue location dropdowns. Public.","tags":["Address"],"responses":{"200":{"description":"Provinces fetched successfully"}}}},"/api/v1/districts":{"get":{"summary":"List districts (optionally filtered by province)","description":"Reference data for the Issue location dropdowns. When `provinceId` is\nprovided the result is narrowed to districts that belong to that\nprovince; otherwise every district is returned. Public.\n","tags":["Address"],"parameters":[{"in":"query","name":"provinceId","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Districts fetched successfully"}}}},"/api/v1/applications/request-otp":{"post":{"summary":"Request an email verification code to sign up via the application form","description":"Sends a 6-digit OTP to the applicant's email (via AWS SES). The code\nmust be supplied to `POST /applications` to submit. Submitting also\ncreates the user account, so this returns `USER_ALREADY_EXISTS` (409)\nif the email already has an account — log in instead. 60-second resend\ncooldown; codes expire after 10 minutes.\n","tags":["Applications"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","example":"jane@example.com"}}}}}},"responses":{"200":{"description":"Verification code sent","content":{"application/json":{"example":{"success":true,"data":{"message":"Verification code sent to email."}}}}},"409":{"description":"Email already has an account","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_ALREADY_EXISTS","message":"Email already registered."}}}}},"429":{"description":"Resend cooldown active","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_RESEND_COOLDOWN","message":"Please wait before requesting another code."}}}}}}}},"/api/v1/applications":{"post":{"summary":"Submit application + sign up (creates a verified account)","description":"This is the signup path. Submits the application, creates a verified\nuser account (email is proven by the OTP), and returns auth tokens so\nthe applicant is logged in. Requires the 6-digit `otp` previously sent\nvia `POST /applications/request-otp` for the same email, plus a\n`password` for the new account. The code is single-use (10-min expiry).\n","tags":["Applications"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","otp","password","role","motivation"],"properties":{"name":{"type":"string","example":"Jane Doe"},"email":{"type":"string","format":"email","example":"jane@example.com"},"otp":{"type":"string","description":"6-digit code emailed by /applications/request-otp","example":"123456"},"password":{"type":"string","format":"password","description":"Password for the new account (min 6 chars)","example":"StrongPassword123"},"phone":{"type":"string","example":"+9779800000000"},"role":{"type":"string","enum":["FRONTEND_DEVELOPER","BACKEND_DEVELOPER","UI_UX_DESIGNER","GRAPHICS_DESIGNER","LEGAL","FINANCE","DONOR","COMMUNITY_MANAGER","VOLUNTEER","OTHER"],"example":"BACKEND_DEVELOPER"},"experience":{"type":"string","example":"Built REST APIs with Express and Prisma."},"motivation":{"type":"string","example":"I want to contribute to civic technology projects."},"additionalInfo":{"type":"string","example":"Available on weekends for community support."},"portfolioId":{"type":"string","format":"uuid","description":"ID of a confirmed Upload to attach as the portfolio document.","example":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01"},"resumeId":{"type":"string","format":"uuid","description":"ID of a confirmed Upload to attach as the resume document.","example":"9d3f32c7-3c8a-5e5a-c1f4-3a0b2a8e9b12"}}}}}},"responses":{"201":{"description":"Account created, application submitted, tokens issued","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"Jane Doe","email":"jane@example.com","role":"USER","isVerified":true,"emailVerifiedAt":"2026-06-16T10:00:00.000Z"},"application":{"id":"9a1f7d8a-2b7f-4d49-b0e3-2f9a1f7d8a01","role":"BACKEND_DEVELOPER","status":"SUBMITTED"},"accessToken":"jwt_access_token_here","refreshToken":"opaque_refresh_token_here"}}}}},"400":{"description":"OTP invalid or expired","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_INVALID","message":"OTP code is invalid."}}}}},"404":{"description":"No pending verification code for this email","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this email."}}}}},"409":{"description":"Email or phone already registered","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_ALREADY_EXISTS","message":"Email already registered."}}}}},"429":{"description":"Too many failed attempts","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_TOO_MANY_ATTEMPTS","message":"Too many failed attempts. Request a new code."}}}}}}},"get":{"summary":"Get all applications (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"role","schema":{"type":"string","enum":["FRONTEND_DEVELOPER","BACKEND_DEVELOPER","UI_UX_DESIGNER","GRAPHICS_DESIGNER","LEGAL","FINANCE","DONOR","COMMUNITY_MANAGER","VOLUNTEER","OTHER"]}},{"in":"query","name":"status","schema":{"type":"string","enum":["SUBMITTED","UNDER_REVIEW","SHORTLISTED","ONBOARDING","ACTIVE","REJECTED"]}}],"responses":{"200":{"description":"Applications fetched successfully"}}}},"/api/v1/applications/{id}":{"get":{"summary":"Get application by id (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application fetched successfully"}}},"delete":{"summary":"Delete application (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application deleted successfully"}}}},"/api/v1/applications/{id}/status":{"patch":{"summary":"Update application status (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["SUBMITTED","UNDER_REVIEW","SHORTLISTED","ONBOARDING","ACTIVE","REJECTED"]}}}}}},"responses":{"200":{"description":"Application status updated successfully"}}}},"/api/v1/applications/{id}/notes":{"patch":{"summary":"Update application notes (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["adminNotes"],"properties":{"adminNotes":{"type":"string","example":"Strong backend experience. Move to technical call."}}}}}},"responses":{"200":{"description":"Application notes updated successfully"}}}},"/api/v1/auth/login":{"post":{"summary":"Login user by email or phone","description":"Password login with **either** `email` **or** `phone` (provide exactly\none) plus `password`. Email login returns `EMAIL_NOT_VERIFIED` (403)\nuntil email OTP verification is complete; phone login returns\n`PHONE_NOT_VERIFIED` (403) until the phone number has been verified.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["password"],"properties":{"email":{"type":"string","format":"email","description":"Provide either email or phone (exactly one).","example":"john@example.com"},"phone":{"type":"string","description":"E.164 phone, e.g. +9779812345678. Provide either email or phone (exactly one).","example":"+9779812345678"},"password":{"type":"string","format":"password","example":"StrongPassword123"}}}}}},"responses":{"200":{"description":"Login successful","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John Doe","email":"john@example.com","phone":"+9779812345678","role":"USER","isVerified":true,"phoneVerifiedAt":"2026-05-18T10:05:00.000Z","isOAuthUser":false},"accessToken":"jwt_access_token_here","refreshToken":"opaque_refresh_token_here"}}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"example":{"success":false,"error":{"code":"INVALID_CREDENTIALS","message":"Invalid credentials."}}}}},"403":{"description":"Identifier not yet verified (email or phone)","content":{"application/json":{"example":{"success":false,"error":{"code":"EMAIL_NOT_VERIFIED","message":"Email not verified. Complete OTP verification to log in."}}}}}}}},"/api/v1/auth/phone/send-otp":{"post":{"summary":"(Optional) Send an SMS OTP to verify a phone number","description":"Authenticated. Sends a 6-digit SMS OTP (via Twilio) to the user's\nphone. Optionally pass `phone` to attach or replace the number first\n— doing so resets any prior phone verification. 60-second resend\ncooldown. Requires Twilio to be configured on the server.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"phone":{"type":"string","description":"Optional E.164 phone to attach/replace before sending","example":"+9779812345678"}}}}}},"responses":{"200":{"description":"OTP sent to phone","content":{"application/json":{"example":{"success":true,"data":{"message":"OTP sent to phone."}}}}},"400":{"description":"No phone number on the account","content":{"application/json":{"example":{"success":false,"error":{"code":"PHONE_NOT_SET","message":"No phone number is set on this account."}}}}},"409":{"description":"Phone already verified or already used by another account","content":{"application/json":{"example":{"success":false,"error":{"code":"PHONE_ALREADY_VERIFIED","message":"Phone number is already verified."}}}}},"503":{"description":"Phone messaging not configured on the server","content":{"application/json":{"example":{"success":false,"error":{"code":"PHONE_SERVICE_UNAVAILABLE","message":"Phone messaging is not configured on the server."}}}}}}}},"/api/v1/auth/phone/verify":{"post":{"summary":"(Optional) Verify the SMS OTP for the user's phone","description":"Authenticated. Verifies the 6-digit SMS code and marks the user's\nphone as verified (sets `phoneVerifiedAt`). Codes expire after 10\nminutes; max 5 attempts per code.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["otp"],"properties":{"otp":{"type":"string","description":"6-digit code from SMS","example":"123456"}}}}}},"responses":{"200":{"description":"Phone verified","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","phone":"+9779812345678","phoneVerifiedAt":"2026-05-18T10:10:00.000Z"}}}}}},"400":{"description":"OTP invalid/expired or no phone on account","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_INVALID","message":"OTP code is invalid."}}}}},"404":{"description":"No pending phone OTP","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this phone number."}}}}}}}},"/api/v1/auth/me":{"get":{"summary":"Get the current authenticated user","tags":["Auth"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Current user profile","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John Doe","email":"john@example.com","username":"johnd","phone":"+9779812345678","role":"USER","isVerified":true,"phoneVerifiedAt":"2026-05-18T10:05:00.000Z","avatar":null,"isOAuthUser":false,"createdAt":"2026-05-18T10:00:00.000Z","updatedAt":"2026-05-18T10:00:00.000Z"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"success":false,"error":{"code":"AUTH_REQUIRED","message":"Authentication required."}}}}}}},"patch":{"summary":"Update the current user's profile","description":"Updates one or more of: name, username, avatar. At least one field\nmust be provided. Username must be unique.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"John D."},"username":{"type":"string","example":"johnd"},"avatar":{"type":"string","format":"uri","example":"https://cdn.example.com/avatars/abc.jpg"}}}}}},"responses":{"200":{"description":"Profile updated","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John D.","username":"johnd","avatar":"https://cdn.example.com/avatars/abc.jpg"}}}}}},"401":{"description":"Unauthorized"},"409":{"description":"Username already taken","content":{"application/json":{"example":{"success":false,"error":{"code":"USERNAME_TAKEN","message":"Username is already taken."}}}}}}},"delete":{"summary":"Delete the current user's account (self-service)","description":"Tombstones the account: PII is redacted, the email/username/phone are\nfreed for re-registration, and all sessions are revoked. Requires the\ncurrent password as a re-authentication step. Admin accounts cannot be\nself-deleted.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["password"],"properties":{"password":{"type":"string","format":"password","example":"StrongPassword123"}}}}}},"responses":{"200":{"description":"Account deleted","content":{"application/json":{"example":{"success":true,"data":{"message":"Account deleted."}}}}},"401":{"description":"Wrong password","content":{"application/json":{"example":{"success":false,"errorCode":"WRONG_CURRENT_PASSWORD","message":"Current password is incorrect."}}}},"403":{"description":"Admins cannot self-delete","content":{"application/json":{"example":{"success":false,"errorCode":"CANNOT_DELETE_ADMIN","message":"Admin accounts cannot be deleted."}}}}}}},"/api/v1/auth/change-password":{"post":{"summary":"Change the current user's password","description":"Requires the current password for re-authentication. The new password\nmust differ from the current one.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["currentPassword","newPassword"],"properties":{"currentPassword":{"type":"string","format":"password","example":"OldPassword123"},"newPassword":{"type":"string","format":"password","example":"NewPassword456"}}}}}},"responses":{"200":{"description":"Password updated","content":{"application/json":{"example":{"success":true,"data":{"message":"Password updated."}}}}},"401":{"description":"Unauthorized or wrong current password","content":{"application/json":{"example":{"success":false,"error":{"code":"WRONG_CURRENT_PASSWORD","message":"Current password is incorrect."}}}}},"409":{"description":"New password matches the current one","content":{"application/json":{"example":{"success":false,"error":{"code":"SAME_PASSWORD","message":"New password must differ from the current password."}}}}}}}},"/api/v1/auth/forgot-password":{"post":{"summary":"Request a password-reset OTP","description":"Sends a 6-digit OTP to the supplied email (purpose RESET_PASSWORD).\nAlways returns 200 — the response does not reveal whether the email\nis registered, to prevent account enumeration. 60-second cooldown\napplies between consecutive requests for a registered email.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","example":"john@example.com"}}}}}},"responses":{"200":{"description":"If the email is registered, an OTP has been dispatched","content":{"application/json":{"example":{"success":true,"data":{"message":"If the email is registered, a reset code has been sent."}}}}},"429":{"description":"Resend cooldown active for this email","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_RESEND_COOLDOWN","message":"Please wait before requesting another code."}}}}}}}},"/api/v1/auth/reset-password":{"post":{"summary":"Reset password using an OTP","description":"Verifies the RESET_PASSWORD OTP and updates the user's password. On\nsuccess returns a fresh access token.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","otp","newPassword"],"properties":{"email":{"type":"string","format":"email","example":"john@example.com"},"otp":{"type":"string","example":"123456"},"newPassword":{"type":"string","format":"password","example":"NewPassword456"}}}}}},"responses":{"200":{"description":"Password reset; access token returned","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","email":"john@example.com"},"accessToken":"jwt_access_token_here","refreshToken":"opaque_refresh_token_here"}}}}},"400":{"description":"OTP invalid or expired","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_INVALID","message":"OTP code is invalid."}}}}},"404":{"description":"No pending reset OTP for this email","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this email."}}}}},"429":{"description":"Too many failed attempts","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_TOO_MANY_ATTEMPTS","message":"Too many failed attempts. Request a new code."}}}}}}}},"/api/v1/auth/refresh":{"post":{"summary":"Exchange a refresh token for a new access token (rotates the refresh token)","description":"Validates the supplied refresh token and returns a fresh access token\nand a new refresh token. The supplied refresh token is revoked atomically\nwith issuing the new one (rotation). Re-using a revoked token will revoke\nall of that user's sessions as a stolen-token mitigation.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["refreshToken"],"properties":{"refreshToken":{"type":"string","example":"opaque_refresh_token_here"}}}}}},"responses":{"200":{"description":"New token pair issued","content":{"application/json":{"example":{"success":true,"data":{"accessToken":"jwt_access_token_here","refreshToken":"new_opaque_refresh_token_here"}}}}},"401":{"description":"Refresh token is invalid, revoked, or expired","content":{"application/json":{"example":{"success":false,"error":{"code":"INVALID_REFRESH_TOKEN","message":"Refresh token is invalid or has been revoked."}}}}}}}},"/api/v1/auth/logout":{"post":{"summary":"Revoke a refresh token (logout)","description":"Revokes the supplied refresh token so it can no longer be used. The\naccess token remains valid until it expires on its own — clients\nshould drop it from local storage on logout. Idempotent: unknown or\nalready-revoked tokens return 200.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["refreshToken"],"properties":{"refreshToken":{"type":"string","example":"opaque_refresh_token_here"}}}}}},"responses":{"200":{"description":"Logged out","content":{"application/json":{"example":{"success":true,"data":{"message":"Logged out."}}}}}}}},"/api/v1/auth/resend-otp":{"post":{"summary":"Resend a pending verification OTP for the current user","description":"`channel: \"phone\"` resends the SMS phone-verification code (subject to\nthe 60-second cooldown and the \"already verified\" / \"no phone\" guards).\n`channel: \"email\"` resends an email-verification code when the email is\nnot yet verified.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel"],"properties":{"channel":{"type":"string","enum":["email","phone"]}}}}}},"responses":{"200":{"description":"OTP re-sent","content":{"application/json":{"example":{"success":true,"data":{"message":"Verification code sent to email."}}}}},"409":{"description":"Email already verified, or phone already verified","content":{"application/json":{"example":{"success":false,"errorCode":"EMAIL_ALREADY_VERIFIED","message":"Email address is already verified."}}}},"429":{"description":"Resend cooldown active","content":{"application/json":{"example":{"success":false,"errorCode":"OTP_RESEND_COOLDOWN","message":"Please wait before requesting another code."}}}}}}},"/api/v1/auth/logout-all":{"post":{"summary":"Revoke all of the current user's sessions (sign out everywhere)","description":"Revokes every active refresh token for the user. Access tokens remain\nvalid until they expire; clients should drop them. Useful after a\nsuspected compromise.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Count of sessions revoked","content":{"application/json":{"example":{"success":true,"data":{"revoked":3}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/auth/sessions":{"get":{"summary":"List the current user's active sessions","description":"Returns the user's active (non-revoked, unexpired) refresh-token\nsessions with device context (user agent, IP) for a \"where you're\nlogged in\" view. Revoke individual sessions via\nDELETE /auth/sessions/{id}.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Active sessions","content":{"application/json":{"example":{"success":true,"data":{"sessions":[{"id":"clx-session-1","userAgent":"Mozilla/5.0 ...","ip":"203.0.113.5","createdAt":"2026-06-16T10:00:00.000Z","expiresAt":"2026-07-16T10:00:00.000Z"}]}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/auth/sessions/{id}":{"delete":{"summary":"Revoke a single session by id","description":"Revokes the specified session (refresh token). Returns 404 if the\nsession does not exist or does not belong to the caller. Idempotent.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Session revoked","content":{"application/json":{"example":{"success":true,"data":{"message":"Session revoked."}}}}},"404":{"description":"Session not found","content":{"application/json":{"example":{"success":false,"errorCode":"SESSION_NOT_FOUND","message":"Session not found."}}}}}}},"/api/v1/comments":{"get":{"summary":"List comments for a target (cursor-paginated)","description":"Returns the flat canonical list of comments for an issue or event.\nSoft-deleted comments are excluded unless the caller is admin /\nmoderator and `includeDeleted=true`. Reactions are returned as an\naggregate map; `myReactions` is included for authenticated viewers.\n","tags":["Comments"],"parameters":[{"in":"query","name":"targetType","required":true,"schema":{"type":"string","enum":["issue","event"]}},{"in":"query","name":"targetId","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"query","name":"parentId","description":"Restrict to direct children of this comment.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["newest","oldest"],"default":"newest"}},{"in":"query","name":"includeDeleted","description":"Admin/moderator only. Silently ignored otherwise.","schema":{"type":"boolean"}},{"in":"query","name":"limit","schema":{"type":"integer","default":100,"minimum":1,"maximum":200}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Paginated comment list"}}},"post":{"summary":"Create a comment","description":"Requires a verified user. `parentId` is optional; replies to a\ndepth-2 comment are silently re-parented to that depth-2 ancestor so\nthe thread never deepens past two levels.\n","tags":["Comments"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["targetType","targetId","text"],"properties":{"targetType":{"type":"string","enum":["issue","event"]},"targetId":{"type":"string","format":"uuid"},"parentId":{"type":"string","format":"uuid"},"text":{"type":"string","maxLength":2000},"mentions":{"type":"array","maxItems":50,"items":{"type":"object","required":["memberId","name"],"properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"}}}}}}}}},"responses":{"201":{"description":"Created"},"404":{"description":"Target issue/event or parent comment not found"}}}},"/api/v1/comments/{id}":{"get":{"summary":"Get a single comment","tags":["Comments"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Comment"},"404":{"description":"Not found"}}},"patch":{"summary":"Edit a comment","description":"Author may edit within a 5-minute window from creation. Admins may\nedit any non-deleted comment without the window.\n","tags":["Comments"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["text"],"properties":{"text":{"type":"string","maxLength":2000},"mentions":{"type":"array","items":{"type":"object","properties":{"memberId":{"type":"string","format":"uuid"},"name":{"type":"string"}}}}}}}}},"responses":{"200":{"description":"Updated comment"},"403":{"description":"Not the author and not admin"},"409":{"description":"Edit window has expired, or comment is deleted"}}},"delete":{"summary":"Delete a comment","description":"Soft-delete by default — the comment row remains with `isDeleted=true`\nand `text` is replaced with a tombstone in read responses. Pass\n`?hard=true` (admin only) to remove the row entirely (cascade-deletes\nreplies).\n","tags":["Comments"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"query","name":"hard","description":"Hard-delete (admin only).","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Deleted (soft or hard)"},"403":{"description":"Not author/admin (or non-admin requested hard delete)"}}}},"/api/v1/comments/{id}/reactions":{"post":{"summary":"Add a reaction to a comment (toggles on)","description":"Idempotent — repeated calls with the same emoji do not increment the\naggregate. Emoji must be drawn from the curated set\n(👏 🌱 ❤️ 🙏 💪 🎉 🌟 🔥).\n","tags":["Comments"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["emoji"],"properties":{"emoji":{"type":"string","enum":["👏","🌱","❤️","🙏","💪","🎉","🌟","🔥"]}}}}}},"responses":{"200":{"description":"Updated aggregate reactions map"}}},"delete":{"summary":"Remove a reaction from a comment (toggles off)","tags":["Comments"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"query","name":"emoji","required":true,"schema":{"type":"string","enum":["👏","🌱","❤️","🙏","💪","🎉","🌟","🔥"]}}],"responses":{"200":{"description":"Updated aggregate reactions map"}}}},"/api/v1/comments/stream":{"get":{"summary":"SSE stream of comment + reaction events for a target","description":"Server-Sent Events. Emits `comment.created`, `comment.updated`,\n`comment.deleted`, and `reaction.updated` for the requested\n`(targetType, targetId)`. Connections remain open until the client\ndisconnects. Heartbeats every 25s keep proxies from reaping the\nconnection.\n","tags":["Comments"],"parameters":[{"in":"query","name":"targetType","required":true,"schema":{"type":"string","enum":["issue","event"]}},{"in":"query","name":"targetId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"SSE event stream (text/event-stream)"}}}},"/api/v1/comments/{id}/replies":{"get":{"summary":"List the direct replies of a comment (cursor-paginated)","description":"Lazy thread expansion — returns the direct children of the given\ncomment, oldest-first by default. Soft-deleted replies are excluded.\n`myReactions`/`canEdit`/`canDelete` are populated for authenticated\nviewers.\n","tags":["Comments"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["newest","oldest"],"default":"oldest"}},{"in":"query","name":"limit","schema":{"type":"integer","default":50,"minimum":1,"maximum":200}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Paginated reply list"},"404":{"description":"Parent comment not found"}}}},"/api/v1/comments/{id}/report":{"post":{"summary":"Report a comment for moderation","description":"Any verified user can flag a comment (spam, abuse, etc.). One report\nper reporter per comment — a repeat flag returns `ALREADY_REPORTED`.\nReports feed the moderator queue.\n","tags":["Comments"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["reason"],"properties":{"reason":{"type":"string","enum":["SPAM","ABUSE","HARASSMENT","MISINFORMATION","INAPPROPRIATE","OTHER"]},"details":{"type":"string","maxLength":1000}}}}}},"responses":{"201":{"description":"Report recorded"},"404":{"description":"Comment not found"},"409":{"description":"Already reported by this user","content":{"application/json":{"example":{"success":false,"errorCode":"ALREADY_REPORTED","message":"You have already reported this content."}}}}}}},"/api/v1/events":{"get":{"summary":"List community events","description":"Public endpoint. Events are auto-created in `DRAFT` when an issue's\nvote threshold is reached. They become `SCHEDULED` once the assigned\nevent leader sets a date/meetup, and `COMPLETED` once results are\nrecorded. Use `status` + date filters to drive \"upcoming\" or \"past\nresults\" views.\n","tags":["Events"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["DRAFT","SCHEDULED","ACTIVE","PAUSED","COMPLETED","CANCELLED"]}},{"in":"query","name":"category","description":"Filters on the linked issue's category.","schema":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]}},{"in":"query","name":"municipality","description":"Filters on the linked issue's municipality.","schema":{"type":"string"}},{"in":"query","name":"ward","description":"Filters on the linked issue's ward.","schema":{"type":"string"}},{"in":"query","name":"provinceId","description":"Filters on the linked issue's province.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"districtId","description":"Filters on the linked issue's district.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"reportedById","description":"Filters on the linked issue's reporter.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"minVoteCount","description":"Minimum `voteCount` on the linked issue.","schema":{"type":"integer","minimum":0}},{"in":"query","name":"fromDate","description":"ISO datetime; filters `scheduledAt >= fromDate`. Events without a `scheduledAt` are excluded when set.","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"toDate","description":"ISO datetime; filters `scheduledAt <= toDate`. Events without a `scheduledAt` are excluded when set.","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"search","description":"Case-insensitive match against the linked issue's translations (title or description, any locale).","schema":{"type":"string","minLength":1,"maxLength":200}},{"in":"query","name":"north","description":"Bounding box (linked issue lat/long). All four of north/south/east/west must be provided together.","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"south","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"east","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"west","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"sort","description":"`scheduledAt` (default) orders by event date.\n`voteCount` orders by the linked issue's vote count.\n`createdAt` orders by event creation time.\n","schema":{"type":"string","enum":["scheduledAt","voteCount","createdAt"],"default":"scheduledAt"}},{"in":"query","name":"order","description":"Defaults to `asc` for `scheduledAt` (soonest upcoming first) and\n`desc` for `voteCount` / `createdAt`.\n","schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of events","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"9f1e22b0-4c3a-44e7-9c01-e1d2a83b22b0","slug":"trash-piling-near-phewa-lake-inlet","status":"SCHEDULED","riskLevel":"NORMAL","scheduledAt":"2026-06-01T03:00:00.000Z","durationMinutes":120,"meetupAddress":"Lakeside main gate","coordinationLink":"https://chat.whatsapp.com/AbCdEfGhIjKlMnOpQrStUv","whatToBring":"Gloves, mask, drinking water, sturdy shoes.","notifiedAt":"2026-05-22T10:00:05.123Z","issueId":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","eventLeaderId":"1b2..."}],"nextCursor":null}}}}}}}},"/api/v1/events/bulk":{"post":{"summary":"Mass create events from issues (admin only)","description":"Admin bulk force-conversion of OPEN issues into scheduled events. Accepts\nup to 50 issue identifiers (slug or UUID) in a single call. Each issue\nis processed independently with the same semantics as the single-issue\n`POST /issues/{id}/convert-to-event` endpoint:\n- Promotes the issue from `OPEN` → `EVENT_SCHEDULED`.\n- Creates the linked Event row, picking the leader from `WANT_TO_LEAD`\n  voters (single candidate → leader; none → falls back to the issue\n  reporter; multiple → opens a leader-voting round).\n- Fires a fire-and-forget voter SMS notification per converted issue.\n\nPer-item failures (issue not found, not in OPEN state, etc.) are\ncaptured in `results` rather than aborting the whole batch.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["issueIds"],"properties":{"issueIds":{"type":"array","minItems":1,"maxItems":50,"description":"Issue identifiers (slug or UUID). Each must reference an\nissue in `OPEN` status; failures are reported per-item in\nthe response.\n","items":{"type":"string","example":"trash-piling-near-phewa-lake"}}}}}}},"responses":{"201":{"description":"Bulk run completed. Note that 201 only indicates the batch ran to\ncompletion — individual items may still have failed; inspect each\nentry in `results`.\n","content":{"application/json":{"example":{"success":true,"data":{"results":[{"identifier":"trash-piling-near-phewa-lake","success":true,"data":{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","slug":"trash-piling-near-phewa-lake","status":"EVENT_SCHEDULED","event":{"id":"9f1e22b0-4c3a-44e7-9c01-e1d2a83b22b0","slug":"trash-piling-near-phewa-lake","status":"DRAFT","leaderVotingStatus":"NONE"}}},{"identifier":"drainage-clogged-near-mahendra-pul","success":false,"error":{"code":"ISSUE_NOT_OPEN","message":"Issue must be OPEN to be converted."}}],"summary":{"total":2,"created":1,"failed":1}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin","content":{"application/json":{"example":{"success":false,"error":{"code":"ADMIN_ONLY","message":"Admin access required."}}}}}}}},"/api/v1/events/{id}":{"get":{"summary":"Get a single event by id (with issue + uploads + leader)","tags":["Events"],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Event detail"},"404":{"description":"Event not found","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_FOUND","message":"Event not found."}}}}}}},"patch":{"summary":"Edit an event's logistics (event leader or admin)","description":"Patches an event's meetup / schedule-window / risk / planning fields.\nAllowed for the event leader or an admin, and only while the event is\nnon-terminal (not COMPLETED / CANCELLED). Unlike `/schedule`, this does\nnot change status or send notifications. The linked issue's\ntitle/description are edited via the issue routes. At least one field\nmust be supplied.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Event id or slug"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"scheduledAt":{"type":"string","format":"date-time"},"durationMinutes":{"type":"integer","minimum":1},"meetupLatitude":{"type":"number"},"meetupLongitude":{"type":"number"},"meetupAddress":{"type":"string"},"meetupNotes":{"type":"string"},"coordinationLink":{"type":"string","format":"uri"},"whatToBring":{"type":"string"},"planningNotes":{"type":"string"},"riskLevel":{"type":"string","enum":["NORMAL","WATCH","URGENT","CRITICAL"]}}}}}},"responses":{"200":{"description":"Updated event"},"403":{"description":"Not the event leader or an admin","content":{"application/json":{"example":{"success":false,"errorCode":"EVENT_FORBIDDEN","message":"You are not allowed to modify this event."}}}},"404":{"description":"Event not found"},"409":{"description":"Event is in a terminal state and cannot be edited","content":{"application/json":{"example":{"success":false,"errorCode":"EVENT_NOT_EDITABLE","message":"This event can no longer be edited."}}}}}}},"/api/v1/events/{id}/schedule":{"patch":{"summary":"Schedule a DRAFT event (event leader only)","description":"Flips status `DRAFT → SCHEDULED`. Caller must be the assigned\n`eventLeader`. On success, an SMS is fanned out to every voter of\nthe linked issue (verified phones only); the SMS includes the\nmeetup address, `whatToBring`, and `coordinationLink` when present.\n`notifiedAt` is stamped on the event once dispatch resolves.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["scheduledAt"],"properties":{"scheduledAt":{"type":"string","format":"date-time","example":"2026-06-01T03:00:00.000Z"},"durationMinutes":{"type":"integer","example":120},"meetupLatitude":{"type":"number","example":28.213},"meetupLongitude":{"type":"number","example":83.957},"meetupAddress":{"type":"string","example":"Lakeside main gate"},"meetupNotes":{"type":"string","example":"Near the parking lot, look for the orange banner."},"coordinationLink":{"type":"string","format":"uri","maxLength":500,"description":"Out-of-app group chat URL for participant coordination\n(WhatsApp / Viber / Telegram invite link).\n","example":"https://chat.whatsapp.com/AbCdEfGhIjKlMnOpQrStUv"},"whatToBring":{"type":"string","maxLength":2000,"description":"Checklist of items participants should bring.","example":"Gloves, mask, drinking water, sturdy shoes."},"planningNotes":{"type":"string"}}}}}},"responses":{"200":{"description":"Event scheduled"},"401":{"description":"Unauthorized"},"403":{"description":"Not the event leader, or user not verified","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_LEADER_ONLY","message":"Only the assigned event leader can perform this action."}}}}},"404":{"description":"Event not found"},"409":{"description":"Event is not in DRAFT status","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_IN_DRAFT","message":"Event must be in DRAFT status to be scheduled."}}}}}}}},"/api/v1/events/{id}/complete":{"post":{"summary":"Mark an event as completed and record results (event leader only)","description":"Flips status `SCHEDULED|ACTIVE|PAUSED → COMPLETED`, sets\n`completedAt`, `resultSummary`, `attendeeCount`. In the same\ntransaction the linked Issue.status flips to `COMPLETED`.\nOptionally attach pre-uploaded result photos via `uploadIds`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["resultSummary"],"properties":{"resultSummary":{"type":"string","example":"Removed ~80kg of plastic. 14 volunteers showed up."},"attendeeCount":{"type":"integer","example":14},"uploadIds":{"type":"array","description":"Confirmed uploads owned by caller, not already attached","items":{"type":"string","format":"uuid"},"maxItems":20}}}}}},"responses":{"200":{"description":"Event completed"},"401":{"description":"Unauthorized"},"403":{"description":"Not the event leader"},"404":{"description":"Event not found"},"409":{"description":"Event is not in a completable status","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_COMPLETABLE","message":"Event must be SCHEDULED, ACTIVE or PAUSED to be completed."}}}}}}}},"/api/v1/events/{id}/leader":{"patch":{"summary":"Assign or change the event leader (admin only)","description":"The chosen user must exist and be verified. Typically picked from\nvoters with `voterRole = WANT_TO_LEAD` on the linked issue, but the\nendpoint does not enforce that — admin discretion.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["eventLeaderId"],"properties":{"eventLeaderId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Leader assigned"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin, or assigned user is not verified"},"404":{"description":"Event or leader user not found"}}}},"/api/v1/events/{id}/leader-voting":{"get":{"summary":"Get the current leader-voting state for an event","description":"Public read. Returns the leader-voting status, the candidates (with\nlive vote counts), the voting deadline, and the resolved leader (if\nany). Status values:\n- `NONE` — no voting (single WANT_TO_LEAD candidate, or fell back to\n  the issue reporter). `eventLeader` is set.\n- `OPEN` — voting in progress until `closesAt`.\n- `PENDING_ADMIN` — voting closed with a tie; admin must pick from\n  the listed candidates before `adminTieBreakClosesAt`.\n- `CLOSED` — voting resolved. `eventLeader` is set.\n","tags":["Events"],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Leader-voting state","content":{"application/json":{"example":{"success":true,"data":{"eventId":"9f1e22b0-4c3a-44e7-9c01-e1d2a83b22b0","status":"OPEN","closesAt":"2026-05-22T10:00:00.000Z","adminTieBreakClosesAt":null,"eventLeader":null,"candidates":[{"id":"1b2...","name":"Alice","username":"alice","avatar":null,"voteCount":3},{"id":"1b3...","name":"Bob","username":"bob","avatar":null,"voteCount":5}]}}}}},"404":{"description":"Event not found"}}}},"/api/v1/events/{id}/leader-vote":{"post":{"summary":"Cast or update your leader vote","description":"Requires a verified user who voted on the linked issue. One vote per\nvoter per event — re-posting updates the existing vote. Only allowed\nwhile leader voting is `OPEN` and before `closesAt`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["candidateId"],"properties":{"candidateId":{"type":"string","format":"uuid","description":"Must be one of the event's `leaderCandidateIds`"}}}}}},"responses":{"201":{"description":"Vote recorded; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"User not verified, or did not vote on the linked issue","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTER_NOT_ELIGIBLE","message":"Only voters of the issue can vote for its leader."}}}}},"404":{"description":"Event not found"},"409":{"description":"Voting is not OPEN, has closed, or candidate is invalid","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTING_NOT_OPEN","message":"Leader voting is not currently open for this event."}}}}}}},"delete":{"summary":"Retract your leader vote","description":"Only allowed while leader voting is still OPEN.","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Vote retracted; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Event or vote not found"},"409":{"description":"Leader voting is not OPEN, or has closed"}}}},"/api/v1/events/{id}/leader-voting/settle":{"post":{"summary":"Settle leader voting once its deadline has passed","description":"Time-driven finalizer. Safe to call repeatedly — mutates state only\nwhen a deadline has actually passed. Intended to be hit by a cron job\nor admin tooling.\n- From `OPEN` past `closesAt`: tallies votes; sets `CLOSED` with the\n  winning leader, or `PENDING_ADMIN` if there is a tie (and starts\n  the admin tie-break window).\n- From `PENDING_ADMIN` past `adminTieBreakClosesAt`: randomly picks\n  one of the tied candidates and closes voting.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Updated leader-voting state"},"401":{"description":"Unauthorized"},"404":{"description":"Event not found"},"409":{"description":"Voting is not in a settleable state, or its deadline has not passed yet","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTING_NOT_DUE","message":"Leader voting deadline has not passed yet."}}}}}}}},"/api/v1/events/{id}/leader-voting/tie-break":{"patch":{"summary":"Resolve a leader-voting tie (admin only)","description":"Allowed only while status is `PENDING_ADMIN`. The chosen candidate\nmust be one of the tied candidates (snapshotted in\n`leaderCandidateIds` after the initial tally). On success the event\nleader is set and status flips to `CLOSED`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Event identifier. Either the human-readable slug (mirrors the\nlinked issue's slug, e.g. `trash-piling-near-phewa-lake`) or the\nlegacy UUID. Slug is preferred for frontend URLs; UUID is\naccepted for backward compatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["candidateId"],"properties":{"candidateId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Leader set; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin"},"404":{"description":"Event not found"},"409":{"description":"Voting is not in PENDING_ADMIN, or candidate is not among the tied set"}}}},"/api/v1/events/me":{"get":{"summary":"List events the authenticated user is involved in","description":"Paginated list of events tied to the caller. Use `as` to scope:\n- `leader` — events the caller is the assigned `eventLeader` for\n- `voter`  — events whose linked issue the caller voted on\n- `all` (default) — union of both\n\nEach item is decorated with the caller's relationship:\n- `isLeader: true` when the caller is the event leader\n- `voterRole`: their commitment on the linked issue (INTERESTED |\n  GOING | WANT_TO_LEAD), or `null` when they did not vote\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"as","schema":{"type":"string","enum":["leader","voter","all"],"default":"all"}},{"in":"query","name":"status","schema":{"type":"string","enum":["DRAFT","SCHEDULED","ACTIVE","PAUSED","COMPLETED","CANCELLED"]}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Events the caller leads or voted on"},"401":{"description":"Unauthorized"}}}},"/api/v1/events/{id}/cancel":{"post":{"summary":"Cancel an event (event leader or admin)","description":"Sets the event's status to CANCELLED from any non-terminal state and\nfires an in-app notification to its participants. Allowed for the event\nleader or an admin.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Event id or slug"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"reason":{"type":"string","maxLength":1000,"description":"Optional cancellation reason, included in the participant notification."}}}}}},"responses":{"200":{"description":"Event cancelled"},"403":{"description":"Not the event leader or an admin"},"404":{"description":"Event not found"},"409":{"description":"Event is already completed or cancelled","content":{"application/json":{"example":{"success":false,"errorCode":"EVENT_NOT_CANCELLABLE","message":"This event can no longer be cancelled."}}}}}}},"/api/v1/events/{id}/participants":{"get":{"summary":"List participants for an event (public roster)","tags":["Event Participants"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"query","name":"role","schema":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"]}},{"in":"query","name":"status","schema":{"type":"string","enum":["INVITED","CONFIRMED","CHECKED_IN","LEFT","NO_SHOW"]}},{"in":"query","name":"limit","schema":{"type":"integer","default":50,"minimum":1,"maximum":200}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Paginated participant roster"}}},"post":{"summary":"Self-join an event in a given role","description":"Requires a verified user. The LEADER role is rejected here —\nleadership flows through the existing leader-voting endpoints. The\nMEDIC role is rejected unless the caller's medical credential is\nverified. If the event has a role plan and the role is full, the\nparticipant is added to the INVITED waitlist instead of CONFIRMED.\n\nIdempotent for the same `(event, member, role)` triple.\n","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["role"],"properties":{"role":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"]},"note":{"type":"string","maxLength":1000}}}}}},"responses":{"201":{"description":"Joined (CONFIRMED) or waitlisted (INVITED)"},"403":{"description":"MEDIC role requires verified credentials"},"409":{"description":"Already joined this event in a different role; or event is not joinable"}}}},"/api/v1/events/{id}/participants/me":{"get":{"summary":"Get the current user's participation for an event","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The caller's participation record"},"404":{"description":"Caller is not a participant on this event"}}}},"/api/v1/events/{id}/participants/invite":{"post":{"summary":"Invite a member to participate (event leader or admin)","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["memberId","role"],"properties":{"memberId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"]},"note":{"type":"string","maxLength":1000}}}}}},"responses":{"201":{"description":"INVITED participant created (or pre-existing one returned)"},"403":{"description":"Caller is not the event leader / admin"}}}},"/api/v1/events/{id}/participants/{participantId}":{"patch":{"summary":"Update a participant's role or note","description":"The participant themselves, the event leader, or an admin may\nupdate. Switching to MEDIC requires verified medical credentials.\n","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"participantId","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"]},"note":{"type":"string","maxLength":1000}}}}}},"responses":{"200":{"description":"Updated participant"}}},"delete":{"summary":"Leave an event (or be removed by an admin)","description":"Before the event starts the row is hard-deleted. Once the event is\nACTIVE/PAUSED/COMPLETED the row is preserved with status=LEFT.\n","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"participantId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Participation removed or marked LEFT"}}}},"/api/v1/events/{id}/participants/{participantId}/check-in":{"post":{"summary":"Check in a participant on event day (event leader or coordinator)","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}},{"in":"path","name":"participantId","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Participant transitioned to CHECKED_IN (or already was)"},"403":{"description":"Caller is not event leader, coordinator, or admin"},"409":{"description":"Participant is in a status that cannot transition to CHECKED_IN"}}}},"/api/v1/events/{id}/role-plan":{"put":{"summary":"Replace the event's role-fill plan (event leader or admin)","description":"Sets the target headcount per role. Existing participants are not\naffected. Future joiners are matched against the new plan; joining\na role that has reached its target lands the joiner on the INVITED\nwaitlist instead of CONFIRMED.\n","tags":["Event Participants"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["rolePlan"],"properties":{"rolePlan":{"type":"array","maxItems":20,"items":{"type":"object","required":["role","count"],"properties":{"role":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"]},"count":{"type":"integer","minimum":0,"maximum":1000}}}}}}}}},"responses":{"200":{"description":"Role plan updated"},"403":{"description":"Caller is not event leader or admin"}}}},"/api/v1/feedback":{"post":{"summary":"Create feedback","tags":["Feedback"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","type","message"],"properties":{"name":{"type":"string","example":"Jane Doe"},"email":{"type":"string","format":"email","example":"jane@example.com"},"type":{"type":"string","enum":["SUGGESTION","BUG_REPORT","QUESTION","GENERAL"],"example":"BUG_REPORT"},"message":{"type":"string","example":"The dashboard submit button does not respond."},"experienceRating":{"type":"integer","minimum":1,"maximum":5,"example":4},"screenshot":{"type":"string","format":"uri","example":"https://example.com/uploads/bug.png"}}}}}},"responses":{"201":{"description":"Feedback created successfully"}}},"get":{"summary":"Get all feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"type","schema":{"type":"string","enum":["SUGGESTION","BUG_REPORT","QUESTION","GENERAL"]}},{"in":"query","name":"status","schema":{"type":"string","enum":["NEW","REVIEWED","IN_PROGRESS","RESOLVED","CLOSED"]}}],"responses":{"200":{"description":"Feedback list fetched successfully"}}}},"/api/v1/feedback/{id}":{"get":{"summary":"Get feedback by id (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Feedback fetched successfully"}}},"delete":{"summary":"Delete feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Feedback deleted successfully"}}}},"/api/v1/feedback/{id}/status":{"patch":{"summary":"Update feedback status (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["NEW","REVIEWED","IN_PROGRESS","RESOLVED","CLOSED"]}}}}}},"responses":{"200":{"description":"Feedback status updated successfully"}}}},"/api/v1/feedback/{id}/reply":{"patch":{"summary":"Reply to feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["adminReply"],"properties":{"adminReply":{"type":"string","example":"Thanks, this has been sent to the product team."}}}}}},"responses":{"200":{"description":"Feedback reply saved successfully"}}}},"/api/v1/issues":{"get":{"summary":"List community issues","description":"Public endpoint. Returns paginated issues, sorted by `voteCount` desc\nby default. Use `cursor` from `nextCursor` for the next page.\n","tags":["Issues"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["OPEN","EVENT_SCHEDULED","COMPLETED","REJECTED","DUPLICATE"]}},{"in":"query","name":"category","schema":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]}},{"in":"query","name":"municipality","description":"Exact-match municipality filter","schema":{"type":"string"}},{"in":"query","name":"ward","description":"Exact-match ward filter","schema":{"type":"string"}},{"in":"query","name":"provinceId","description":"Filters on the issue's province.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"districtId","description":"Filters on the issue's district.","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"reportedById","description":"Only issues reported by this user id","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"minVoteCount","description":"Only return issues with `voteCount` greater than or equal to this value","schema":{"type":"integer","minimum":0}},{"in":"query","name":"fromDate","description":"Only issues created on or after this ISO-8601 timestamp","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"toDate","description":"Only issues created on or before this ISO-8601 timestamp","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"search","description":"Case-insensitive substring match against the issue's title or\ndescription in any locale (Nepali or English).\n","schema":{"type":"string","minLength":1,"maxLength":200}},{"in":"query","name":"north","description":"Geo bounding-box northern latitude bound. When any of\n`north`/`south`/`east`/`west` is provided, all four are required.\n","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"south","description":"Geo bounding-box southern latitude bound (see `north`).","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"east","description":"Geo bounding-box eastern longitude bound (see `north`).","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"west","description":"Geo bounding-box western longitude bound (see `north`).","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"sort","schema":{"type":"string","enum":["voteCount","createdAt"],"default":"voteCount"}},{"in":"query","name":"order","description":"Sort direction applied to `sort` (and the secondary `createdAt` tiebreaker).","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","description":"Issue id to paginate from","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of issues","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","slug":"trash-piling-near-phewa-lake-inlet","title":"Trash piling near Phewa Lake inlet","coverImageId":"f1a4c1de-9c1b-4e8a-9b1e-2c7f0d2a5b11","category":"RIVERBANK","status":"OPEN","voteCount":7,"latitude":28.213,"longitude":83.957,"addressText":"Lakeside, Pokhara","createdAt":"2026-05-18T10:00:00.000Z"}],"nextCursor":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01"}}}}}}},"post":{"summary":"Report a new issue","description":"Requires a verified user. To attach photos, pre-upload them via\n`/uploads/presign` + PUT + `/uploads/{id}/confirm`, then pass the\nresulting upload IDs in `uploadIds`. The uploads must be owned by\nthe caller, confirmed, and not yet attached to another issue.\n\nThe server automatically resolves the `provinceId` and `districtId`\nbased on the provided `latitude` and `longitude` coordinates using\nan offline Nepal administrative boundaries map. If the coordinates\nfall outside Nepal, the request fails with `COORDINATES_OUTSIDE_NEPAL`.\n\nThe response includes a server-generated `slug` derived from the\nEnglish title (kebab-case, unique). The slug is immutable once\ncreated — subsequent title edits do not change it, so frontend\ndeep-links stay stable.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","description","language","coverImageId","category","latitude","longitude","addressText"],"properties":{"title":{"type":"string","example":"Trash piling near Phewa Lake inlet"},"description":{"type":"string","example":"Garbage accumulation blocking the inflow stream..."},"language":{"type":"string","enum":["ne","en"],"description":"The language `title` and `description` are written in.\nThe server auto-translates to the other locale via OpenAI\nso each issue has both `ne` and `en` translations stored.\n","example":"en"},"coverImageId":{"type":"string","format":"uuid","description":"Upload id of the cover image (from the uploads flow). Must be owned by the caller and confirmed.","example":"f1a4c1de-9c1b-4e8a-9b1e-2c7f0d2a5b11"},"category":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"],"example":"RIVERBANK"},"latitude":{"type":"number","example":28.213},"longitude":{"type":"number","example":83.957},"addressText":{"type":"string","example":"Lakeside, Pokhara"},"municipality":{"type":"string","example":"Pokhara Metropolitan City"},"ward":{"type":"string","example":"6"},"uploadIds":{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":10},"conversionThreshold":{"type":"integer","minimum":1,"maximum":1000,"description":"Number of *attending* votes (voterRole `GOING` or\n`WANT_TO_LEAD`; `INTERESTED` followers don't count) required\nto auto-promote this issue to an event. Set by the reporter\nat create time and immutable afterward. Defaults to 10 when\nomitted.\n","example":15}}}}}},"responses":{"201":{"description":"Issue created"},"400":{"description":"Bad request (validation failed or coordinates outside Nepal)","content":{"application/json":{"example":{"success":false,"errorCode":"COORDINATES_OUTSIDE_NEPAL","message":"The provided coordinates must be within the borders of Nepal."}}}},"401":{"description":"Unauthorized"},"403":{"description":"User not verified (phone OTP required)","content":{"application/json":{"example":{"success":false,"errorCode":"USER_NOT_VERIFIED","message":"Phone verification required."}}}}}}},"/api/v1/issues/{id}":{"get":{"summary":"Get a single issue by id","tags":["Issues"],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier. Either the human-readable slug\n(e.g. `trash-piling-near-phewa-lake`) or the legacy UUID. Slug\nis preferred for frontend URLs; UUID is accepted for backward\ncompatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Issue details with attached uploads"},"404":{"description":"Issue not found","content":{"application/json":{"example":{"success":false,"error":{"code":"ISSUE_NOT_FOUND","message":"Issue not found."}}}}}}},"patch":{"summary":"Edit a reported issue","description":"Only the original reporter can edit, and only while the issue is still `OPEN`.\nAt least one field must be provided.\n\nIf `latitude` or `longitude` are updated, the server will automatically resolve\nthe new `provinceId` and `districtId` using the local Nepal boundaries lookup.\nIf the new coordinates fall outside Nepal, the request fails with `COORDINATES_OUTSIDE_NEPAL`.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier (slug or UUID).","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"Updated Issue Title"},"description":{"type":"string","example":"Updated description detail..."},"language":{"type":"string","enum":["ne","en"],"description":"Required if title or description is provided."},"coverImageId":{"type":"string","format":"uuid"},"category":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]},"latitude":{"type":"number","example":27.7172},"longitude":{"type":"number","example":85.324},"addressText":{"type":"string","example":"New Road, Kathmandu"},"municipality":{"type":"string"},"ward":{"type":"string"}}}}}},"responses":{"200":{"description":"Issue updated successfully"},"400":{"description":"Bad request (validation failed or coordinates outside Nepal)","content":{"application/json":{"example":{"success":false,"errorCode":"COORDINATES_OUTSIDE_NEPAL","message":"The provided coordinates must be within the borders of Nepal."}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (caller is not the reporter)"},"404":{"description":"Issue not found"},"409":{"description":"Conflict (issue is not OPEN)"}}},"delete":{"summary":"Delete an issue (moderation takedown)","description":"MODERATOR or ADMIN only. Hard-deletes the issue and its dependent rows\n(translations, votes, the linked event and its participants/leader\nvotes, and comments on both). Uploads are detached, not deleted. Use\nthis for spam/abuse takedowns; for lifecycle changes prefer\nPATCH /issues/{id}/status.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Issue id or slug"}],"responses":{"200":{"description":"Issue deleted","content":{"application/json":{"example":{"success":true,"data":{"id":"clx-issue-1","deleted":true}}}}},"403":{"description":"Not a moderator/admin"},"404":{"description":"Issue not found"}}}},"/api/v1/issues/bulk":{"post":{"summary":"Mass create issues (admin only)","description":"Admin bulk-import endpoint. Accepts up to 25 issue payloads in a single\nrequest and processes each independently — translation failures,\nupload-attach errors, and per-row DB errors are captured per-item and\nreported in the response, rather than aborting the whole batch.\n\nPer-item semantics:\n- Each item follows the same shape as `POST /issues`.\n- `coverImageId` and any `uploadIds` must be owned by the calling\n  admin (the importer), confirmed, and not yet attached.\n- `reportedById` (optional) attributes the issue to the given user; if\n  omitted, the issue is attributed to the calling admin.\n- Each item gets its own server-generated `slug` (derived from the\n  English title), the same way single-create does.\n\nThe response contains a `results` array (ordered by request index) and\na `summary` of how many succeeded vs. failed.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["items"],"properties":{"items":{"type":"array","minItems":1,"maxItems":25,"items":{"type":"object","required":["title","description","language","coverImageId","category","latitude","longitude","addressText"],"properties":{"title":{"type":"string","example":"Trash piling near Phewa Lake inlet"},"description":{"type":"string","example":"Garbage accumulation blocking the inflow stream..."},"language":{"type":"string","enum":["ne","en"],"example":"en"},"coverImageId":{"type":"string","format":"uuid"},"category":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]},"latitude":{"type":"number","example":28.213},"longitude":{"type":"number","example":83.957},"addressText":{"type":"string","example":"Lakeside, Pokhara"},"municipality":{"type":"string","example":"Pokhara Metropolitan City"},"ward":{"type":"string","example":"6"},"uploadIds":{"type":"array","maxItems":10,"items":{"type":"string","format":"uuid"}},"reportedById":{"type":"string","format":"uuid","description":"Attribute the issue to a specific user. Defaults to the\ncalling admin when omitted. Uploads/cover image must\nstill be owned by the caller.\n"}}}}}}}}},"responses":{"201":{"description":"Bulk run completed. Note that 201 only indicates the batch ran to\ncompletion — individual items may still have failed; inspect each\nentry in `results`.\n","content":{"application/json":{"example":{"success":true,"data":{"results":[{"index":0,"success":true,"data":{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","slug":"trash-piling-near-phewa-lake-inlet","category":"RIVERBANK","status":"OPEN","voteCount":0}},{"index":1,"success":false,"error":{"code":"UPLOAD_FORBIDDEN","message":"One or more uploads are not eligible to be attached."}}],"summary":{"total":2,"created":1,"failed":1}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin","content":{"application/json":{"example":{"success":false,"error":{"code":"ADMIN_ONLY","message":"Admin access required."}}}}}}}},"/api/v1/issues/{id}/vote":{"post":{"summary":"Upvote an issue","description":"Requires a verified user. One vote per user per issue (enforced at\nDB level). Promotion is driven by `attendingCount` — the number of\nvotes with `voterRole` `GOING` or `WANT_TO_LEAD` (`INTERESTED` votes\nare excluded). When `attendingCount` reaches the issue's\n`conversionThreshold` (reporter-set, default 10), the issue status\nflips to `EVENT_SCHEDULED` and an SMS is dispatched to all voters.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier. Either the human-readable slug\n(e.g. `trash-piling-near-phewa-lake`) or the legacy UUID. Slug\nis preferred for frontend URLs; UUID is accepted for backward\ncompatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["voterRole"],"properties":{"voterRole":{"type":"string","enum":["INTERESTED","GOING","WANT_TO_LEAD"],"description":"Commitment level the voter is signing up for. Used later\nto assign roles when the issue converts to an event.\n","example":"GOING"},"eventRole":{"type":"string","enum":["WORKER","PHOTOGRAPHER","LIVESTREAMER","MEDIC","SAFETY_LEAD","COORDINATOR","LOGISTICS"],"description":"The participant role this voter signs up to take at the\neventual event. **Required when `voterRole` is `GOING`** and\nmust be **omitted** for `INTERESTED` / `WANT_TO_LEAD`. On\nconversion to an event, GOING voters with a role here are\nauto-added as CONFIRMED participants (unverified `MEDIC`\npicks are skipped — MEDIC needs credential verification).\n","example":"WORKER"}}}}}},"responses":{"201":{"description":"Vote recorded","content":{"application/json":{"example":{"success":true,"data":{"voteCount":8,"attendingCount":6,"conversionThreshold":10,"voterRole":"GOING","eventRole":"WORKER","status":"OPEN"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Issue not found"},"409":{"description":"Already voted, or issue is not OPEN","content":{"application/json":{"example":{"success":false,"error":{"code":"ALREADY_VOTED","message":"You have already voted on this issue."}}}}}}},"delete":{"summary":"Retract your vote on an issue","description":"Only allowed while the issue is still OPEN.","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier. Either the human-readable slug\n(e.g. `trash-piling-near-phewa-lake`) or the legacy UUID. Slug\nis preferred for frontend URLs; UUID is accepted for backward\ncompatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"200":{"description":"Vote retracted","content":{"application/json":{"example":{"success":true,"data":{"voteCount":7,"attendingCount":5}}}}},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Issue or vote not found"},"409":{"description":"Issue is not OPEN"}}}},"/api/v1/issues/{id}/convert-to-event":{"post":{"summary":"Force-convert an OPEN issue to a scheduled event (admin only)","description":"Admin override of the vote-threshold promotion path. Flips an OPEN\nissue to `EVENT_SCHEDULED` and creates the linked Event regardless of\n`voteCount`. Leader selection runs the same way as a vote-driven\npromotion:\n- 1 voter with `voterRole = WANT_TO_LEAD` → that user becomes leader.\n- 0 WANT_TO_LEAD voters → falls back to the issue reporter.\n- 2+ candidates → opens a leader-voting round.\n\nVoters of the issue (with verified phones) are notified by SMS.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier. Either the human-readable slug\n(e.g. `trash-piling-near-phewa-lake`) or the legacy UUID. Slug\nis preferred for frontend URLs; UUID is accepted for backward\ncompatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"responses":{"201":{"description":"Issue promoted and event created"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin","content":{"application/json":{"example":{"success":false,"error":{"code":"ADMIN_ONLY","message":"Admin access required."}}}}},"404":{"description":"Issue not found"},"409":{"description":"Issue is not OPEN (already promoted, completed, rejected, or duplicate)","content":{"application/json":{"example":{"success":false,"error":{"code":"ISSUE_NOT_OPEN","message":"Issue must be OPEN to be converted."}}}}}}}},"/api/v1/issues/me":{"get":{"summary":"List issues reported by the authenticated user","description":"Paginated list of issues authored by the caller. Same filters and\ncursor semantics as `GET /issues`, but scoped to `reportedById = me`\nand defaulting to `sort=createdAt`.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["OPEN","EVENT_SCHEDULED","COMPLETED","REJECTED","DUPLICATE"]}},{"in":"query","name":"category","schema":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]}},{"in":"query","name":"municipality","schema":{"type":"string"}},{"in":"query","name":"ward","schema":{"type":"string"}},{"in":"query","name":"provinceId","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"districtId","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"minVoteCount","schema":{"type":"integer","minimum":0}},{"in":"query","name":"fromDate","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"toDate","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"search","description":"Case-insensitive substring match on title or description (any locale).","schema":{"type":"string","minLength":1,"maxLength":200}},{"in":"query","name":"north","description":"Geo bounding-box northern latitude bound. When any of\n`north`/`south`/`east`/`west` is provided, all four are required.\n","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"south","schema":{"type":"number","minimum":-90,"maximum":90}},{"in":"query","name":"east","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"west","schema":{"type":"number","minimum":-180,"maximum":180}},{"in":"query","name":"sort","schema":{"type":"string","enum":["voteCount","createdAt"],"default":"createdAt"}},{"in":"query","name":"order","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of issues the caller reported"},"401":{"description":"Unauthorized"}}}},"/api/v1/issues/me/votes":{"get":{"summary":"List issues the authenticated user voted on","description":"Paginated list of issues the caller has voted on, ordered by vote\nrecency (newest first). Each item is the full issue plus `voterRole`\nand `votedAt` indicating the caller's commitment and when they voted.\nThe `cursor` is the IssueVote id from `nextCursor`.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"voterRole","schema":{"type":"string","enum":["INTERESTED","GOING","WANT_TO_LEAD"]}},{"in":"query","name":"status","description":"Filter by the underlying issue's status.","schema":{"type":"string","enum":["OPEN","EVENT_SCHEDULED","COMPLETED","REJECTED","DUPLICATE"]}},{"in":"query","name":"category","description":"Filter by the underlying issue's category.","schema":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","description":"IssueVote id to paginate from","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Issues the caller voted on"},"401":{"description":"Unauthorized"}}}},"/api/v1/issues/{id}/after-uploads":{"post":{"summary":"Attach \"after the cleanup\" photos to an issue","description":"Companion to the `uploadIds` parameter on `POST /issues` (which attaches\nthe \"before\" photos at create time). Lets the issue reporter attach\nphotos documenting the state of the site **after** the cleanup\nhas been carried out.\n\nPre-upload each photo via `/uploads/presign` + PUT + `/uploads/{id}/confirm`,\nthen call this endpoint with the resulting upload IDs. The uploads must\nbe owned by the caller, confirmed, and not yet attached to any issue\nor event.\n\nRestricted to the issue reporter. The returned issue payload includes\nboth `uploads` (before photos) and `afterUploads` (after photos).\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"description":"Issue identifier. Either the human-readable slug\n(e.g. `trash-piling-near-phewa-lake`) or the legacy UUID. Slug\nis preferred for frontend URLs; UUID is accepted for backward\ncompatibility.\n","schema":{"type":"string","example":"trash-piling-near-phewa-lake"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["uploadIds"],"properties":{"uploadIds":{"type":"array","minItems":1,"maxItems":10,"items":{"type":"string","format":"uuid"},"example":["a3b4c5d6-7e8f-4a1b-9c2d-3e4f5a6b7c8d"]}}}}}},"responses":{"201":{"description":"After-photos attached; returns the updated issue"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not the issue reporter, or one or more uploads are not\nowned by the caller / not confirmed / already attached.\n","content":{"application/json":{"examples":{"notReporter":{"value":{"success":false,"error":{"code":"ISSUE_FORBIDDEN","message":"Only the issue reporter can attach after photos."}}},"uploadIssue":{"value":{"success":false,"error":{"code":"UPLOAD_FORBIDDEN","message":"One or more uploads are not eligible to be attached."}}}}}}},"404":{"description":"Issue not found"}}}},"/api/v1/issues/{id}/report":{"post":{"summary":"Report an issue for moderation","description":"Any verified user can flag an issue (spam, abuse, etc.). One report per\nreporter per issue — a repeat flag returns `ALREADY_REPORTED`. Reports\nfeed the moderator queue.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Issue id or slug"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["reason"],"properties":{"reason":{"type":"string","enum":["SPAM","ABUSE","HARASSMENT","MISINFORMATION","INAPPROPRIATE","OTHER"]},"details":{"type":"string","maxLength":1000}}}}}},"responses":{"201":{"description":"Report recorded","content":{"application/json":{"example":{"success":true,"data":{"id":"clx-report-1","targetType":"issue","targetId":"clx-issue-1","reason":"SPAM","status":"PENDING","createdAt":"2026-06-16T10:00:00.000Z"}}}}},"404":{"description":"Issue not found"},"409":{"description":"Already reported by this user","content":{"application/json":{"example":{"success":false,"errorCode":"ALREADY_REPORTED","message":"You have already reported this content."}}}}}}},"/api/v1/issues/{id}/status":{"patch":{"summary":"Override an issue's status (moderation)","description":"MODERATOR or ADMIN only. Sets the issue's lifecycle status — e.g. mark\nit COMPLETED/REJECTED/DUPLICATE or re-OPEN it. `EVENT_SCHEDULED` cannot\nbe set here; that state is reached only via the vote-threshold flow.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Issue id or slug"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["OPEN","COMPLETED","REJECTED","DUPLICATE"]}}}}}},"responses":{"200":{"description":"Updated issue"},"403":{"description":"Not a moderator/admin","content":{"application/json":{"example":{"success":false,"errorCode":"MODERATOR_ONLY","message":"This action requires moderator or admin privileges."}}}},"404":{"description":"Issue not found"}}}},"/api/v1/notifications":{"get":{"summary":"List the current user's notifications (cursor-paginated)","description":"Returns the caller's notifications newest-first. Pass `unreadOnly=true`\nto restrict to unread items. The live `unreadCount` is included on every\npage so the client can keep its badge in sync.\n","tags":["Notifications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"unreadOnly","schema":{"type":"boolean"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Paginated notification list","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"clx-notif-1","type":"EVENT_SCHEDULED","title":"Your cleanup is scheduled","body":"The cleanup for Phewa Lake is set for 2026-06-20.","data":{"targetType":"event","targetId":"clx-event-1","slug":"trash-near-phewa-lake"},"readAt":null,"createdAt":"2026-06-16T10:00:00.000Z"}],"unreadCount":3,"nextCursor":"clx-notif-1"}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/notifications/unread-count":{"get":{"summary":"Get the current user's unread notification count","tags":["Notifications"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Unread count","content":{"application/json":{"example":{"success":true,"data":{"unreadCount":3}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/notifications/{id}/read":{"patch":{"summary":"Mark a single notification as read (idempotent)","description":"Marks the notification read. Returns 404 if it does not exist or does\nnot belong to the caller. Re-marking an already-read notification is a\nno-op that still returns 200.\n","tags":["Notifications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Notification marked read"},"404":{"description":"Notification not found","content":{"application/json":{"example":{"success":false,"errorCode":"NOTIFICATION_NOT_FOUND","message":"Notification not found."}}}}}}},"/api/v1/notifications/read-all":{"post":{"summary":"Mark all of the current user's notifications as read","tags":["Notifications"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Count of notifications marked read","content":{"application/json":{"example":{"success":true,"data":{"updated":3}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/notifications/preferences":{"put":{"summary":"Update the current user's notification channel preferences","description":"Toggles the outbound channels (SMS / email / push) the user opts in to.\nIn-app notifications are always recorded regardless of these toggles.\nAt least one channel must be supplied; omitted channels keep their\ncurrent value. Push is off by default.\n","tags":["Notifications"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sms":{"type":"boolean"},"email":{"type":"boolean"},"push":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Updated channel preferences","content":{"application/json":{"example":{"success":true,"data":{"channels":{"sms":true,"email":false,"push":false}}}}}},"400":{"description":"No channel provided"},"401":{"description":"Unauthorized"}}}},"/api/v1/leaderboard":{"get":{"summary":"Community contributor leaderboard","description":"Public ranked list of contributors. Global by default; pass\n`municipality` (optionally with `ward`) to scope the ranking to\ncontributions tied to that location. `metric` selects the dimension:\n`points` (default) is a weighted composite —\nissuesReported×3 + votesCast×1 + eventsAttended×5 + eventsLed×10.\nSoft-deleted members are excluded. For the composite board the pool is\nthe union of each metric's top 100 contributors.\n","tags":["Recognition"],"parameters":[{"in":"query","name":"metric","schema":{"type":"string","enum":["points","issuesReported","votesCast","eventsLed","eventsAttended"],"default":"points"}},{"in":"query","name":"municipality","schema":{"type":"string"}},{"in":"query","name":"ward","description":"Only valid alongside `municipality`.","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}}],"responses":{"200":{"description":"Ranked leaderboard","content":{"application/json":{"example":{"success":true,"data":{"metric":"points","municipality":null,"ward":null,"items":[{"rank":1,"user":{"id":"clx1","name":"John Doe","username":"johnd","avatar":null,"city":"Pokhara"},"value":73,"breakdown":{"issuesReported":4,"votesCast":11,"eventsLed":3,"eventsAttended":4}}]}}}}}}}},"/api/v1/badges/catalog":{"get":{"summary":"The full badge catalog (definitions only)","description":"Static list of every badge a member can earn, grouped by\nREPORTER / VOTER / ATTENDEE / LEADER / HOURS with bronze→silver→gold\ntiers. Use it to render locked/earned states client-side.\n","tags":["Recognition"],"responses":{"200":{"description":"Badge catalog","content":{"application/json":{"example":{"success":true,"data":{"badges":[{"code":"ATTENDEE_1","group":"ATTENDEE","tier":1,"title":"First Cleanup","description":"Showed up to your first cleanup.","metric":"eventsAttended","threshold":1}]}}}}}}}},"/api/v1/me/badges":{"get":{"summary":"The current user's badges with progress to the next tier","tags":["Recognition"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Earned badges, per-group progress, and the stats behind them","content":{"application/json":{"example":{"success":true,"data":{"stats":{"issuesReported":4,"votesCast":11,"eventsLed":1,"eventsAttended":4,"volunteerHours":9.5},"earnedCount":6,"earned":[{"code":"ATTENDEE_2","group":"ATTENDEE","tier":2,"title":"Regular Volunteer","description":"Showed up to 5 cleanups.","metric":"eventsAttended","threshold":5,"value":4}],"groups":[{"group":"ATTENDEE","metric":"eventsAttended","current":4,"tiers":[{"code":"ATTENDEE_1","group":"ATTENDEE","tier":1,"title":"First Cleanup","description":"Showed up to your first cleanup.","threshold":1,"earned":true}],"nextTier":{"code":"ATTENDEE_2","title":"Regular Volunteer","threshold":5,"remaining":1}}]}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/users/{id}/badges":{"get":{"summary":"A member's earned badges (public)","tags":["Recognition"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Earned badges plus the public stats behind them","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx1","name":"John Doe","username":"johnd","avatar":null},"stats":{"issuesReported":4,"votesCast":11,"eventsLed":1,"eventsAttended":4,"volunteerHours":9.5},"earned":[{"code":"REPORTER_2","group":"REPORTER","tier":2,"title":"Active Reporter","description":"Reported 5 community issues.","metric":"issuesReported","threshold":5,"value":4}]}}}}},"404":{"description":"User not found / deleted","content":{"application/json":{"example":{"success":false,"errorCode":"USER_NOT_FOUND","message":"User not found."}}}}}}},"/api/v1/me/certificates":{"get":{"summary":"The current user's volunteer-hour certificates","description":"One certificate per COMPLETED cleanup the member checked in to, with\ncomputed hours (from the event's planned duration; falls back to 120\nminutes when none was recorded), plus aggregate totals. Each `code` is\npublicly verifiable via GET /certificates/{code}.\n","tags":["Recognition"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Certificates and aggregate volunteer hours","content":{"application/json":{"example":{"success":true,"data":{"totalHours":9.5,"totalEvents":4,"certificates":[{"code":"clx-participant-1","eventId":"clx-event-1","eventSlug":"trash-near-phewa-lake","eventTitle":"Trash near Phewa Lake","location":{"municipality":"Pokhara","ward":"6"},"role":"WORKER","hours":2,"attendedAt":"2026-06-18T03:30:00.000Z","completedAt":"2026-06-18T06:00:00.000Z"}]}}}}},"401":{"description":"Unauthorized"}}}},"/api/v1/certificates/{code}":{"get":{"summary":"Verify a volunteer-hour certificate (public)","description":"Public verification endpoint — a third party (e.g. a school confirming\nservice hours) can resolve a certificate `code` to the volunteer's\ndisplay name, the event, and the hours earned. Only check-ins on\nCOMPLETED events are verifiable.\n","tags":["Recognition"],"parameters":[{"in":"path","name":"code","required":true,"description":"The certificate code (a participation id).","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Verified certificate","content":{"application/json":{"example":{"success":true,"data":{"code":"clx-participant-1","verified":true,"volunteer":{"name":"John Doe","username":"johnd"},"role":"WORKER","hours":2,"event":{"id":"clx-event-1","slug":"trash-near-phewa-lake","title":"Trash near Phewa Lake","location":{"municipality":"Pokhara","ward":"6"},"completedAt":"2026-06-18T06:00:00.000Z"}}}}}},"404":{"description":"No verifiable certificate for this code","content":{"application/json":{"example":{"success":false,"errorCode":"CERTIFICATE_NOT_FOUND","message":"No verifiable certificate found for this code."}}}}}}},"/api/v1/reports":{"get":{"summary":"Get the full admin analytics report (admin only)","description":"Returns a single aggregated report covering all admin-panel domains:\noverview KPIs, users, issues, events, engagement (votes), feedback,\nparticipation applications, uploads, and geographic distribution.\n\n## Date range\nOptional `fromDate` / `toDate` filter the \"period\" counts and the time\nseries; lifetime counts always reflect the active filters but ignore\nthe date range. When both dates are provided the previous equal-length\nperiod is auto-computed and used to produce `overview.deltaPercent`.\n\n## Bucketing\nTime series are auto-bucketed:\n- `<= 31 days` → daily\n- `<= 180 days` → weekly\n- otherwise (or no range) → monthly\n\nPass `bucket` to override the auto-pick.\n\n## Section selection\nPass `sections` as a CSV (e.g. `sections=overview,issues,events`) to\ncompute only the listed sections — useful for narrow dashboards or\nreducing query load. Omit to return everything.\n\n## Advanced filtering\nEach filter narrows the section it belongs to. The overview totals\nand period counts also respect every active filter, so the response\nstays internally consistent.\n\nFilter groups:\n- **Geographic** (issues, events, geographic): `municipality`, `ward`\n- **Users**: `userRole`, `userVerified`, `userIsOAuth`\n- **Issues**: `issueStatus`, `issueCategory`\n- **Events**: `eventStatus`, `eventRiskLevel`, `eventLeaderVotingStatus`\n- **Engagement (issue votes)**: `voterRole` (+ issue filters propagate)\n- **Feedback**: `feedbackType`, `feedbackStatus`\n- **Applications**: `applicationRole`, `applicationStatus`\n- **Uploads**: `uploadFileType`, `uploadIsConfirmed`, `uploadLinkedTo`\n\nTop-N lists (top voted issues, top leaders, top contributors,\nupcoming events) are sized by `topN` (default 10, max 50).\n\n## Example queries\n- Last 30 days, daily buckets:\n  `?fromDate=2026-04-27T00:00:00Z&toDate=2026-05-27T00:00:00Z`\n- OPEN roadside issues in Pokhara only:\n  `?issueStatus=OPEN&issueCategory=ROADSIDE&municipality=Pokhara%20Metropolitan%20City`\n- Just the events + uploads sections:\n  `?sections=events,uploads`\n- Completed events with risk URGENT, weekly buckets:\n  `?eventStatus=COMPLETED&eventRiskLevel=URGENT&bucket=week`\n- Confirmed image uploads orphaned from entities:\n  `?uploadFileType=IMAGE&uploadIsConfirmed=true&uploadLinkedTo=orphan`\n","tags":["Reports"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"fromDate","description":"ISO datetime; lower bound for period counts and series.","schema":{"type":"string","format":"date-time"},"example
[...]
