{"openapi":"3.0.0","info":{"title":"Shramdaan API","version":"1.0.0","description":"REST API documentation for Shramdaan"},"servers":[{"url":"https://backend.shramdan.org","description":"Production server"},{"url":"http://localhost:3000","description":"Development server"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"paths":{"/api/v1/applications":{"post":{"summary":"Create contributor application","tags":["Applications"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","role","motivation"],"properties":{"name":{"type":"string","example":"Jane Doe"},"email":{"type":"string","format":"email","example":"jane@example.com"},"phone":{"type":"string","example":"+9779800000000"},"role":{"type":"string","enum":["FRONTEND_DEVELOPER","BACKEND_DEVELOPER","UI_UX_DESIGNER","GRAPHICS_DESIGNER","LEGAL","FINANCE","DONOR","COMMUNITY_MANAGER","VOLUNTEER","OTHER"],"example":"BACKEND_DEVELOPER"},"experience":{"type":"string","example":"Built REST APIs with Express and Prisma."},"motivation":{"type":"string","example":"I want to contribute to civic technology projects."},"additionalInfo":{"type":"string","example":"Available on weekends for community support."},"portfolio":{"type":"string","format":"uri","example":"https://example.com"},"resumeUrl":{"type":"string","format":"uri","example":"https://example.com/resume.pdf"}}}}}},"responses":{"201":{"description":"Application created successfully"}}},"get":{"summary":"Get all applications (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"role","schema":{"type":"string","enum":["FRONTEND_DEVELOPER","BACKEND_DEVELOPER","UI_UX_DESIGNER","GRAPHICS_DESIGNER","LEGAL","FINANCE","DONOR","COMMUNITY_MANAGER","VOLUNTEER","OTHER"]}},{"in":"query","name":"status","schema":{"type":"string","enum":["SUBMITTED","UNDER_REVIEW","SHORTLISTED","ONBOARDING","ACTIVE","REJECTED"]}}],"responses":{"200":{"description":"Applications fetched successfully"}}}},"/api/v1/applications/{id}":{"get":{"summary":"Get application by id (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application fetched successfully"}}},"delete":{"summary":"Delete application (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application deleted successfully"}}}},"/api/v1/applications/{id}/status":{"patch":{"summary":"Update application status (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["SUBMITTED","UNDER_REVIEW","SHORTLISTED","ONBOARDING","ACTIVE","REJECTED"]}}}}}},"responses":{"200":{"description":"Application status updated successfully"}}}},"/api/v1/applications/{id}/notes":{"patch":{"summary":"Update application notes (Admin only)","tags":["Applications"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["adminNotes"],"properties":{"adminNotes":{"type":"string","example":"Strong backend experience. Move to technical call."}}}}}},"responses":{"200":{"description":"Application notes updated successfully"}}}},"/api/v1/auth/register":{"post":{"summary":"Register a new user (creates account, sends SMS OTP)","description":"Creates an unverified user account and sends a 6-digit OTP to the\nsupplied phone number. The user **cannot log in** until they call\n`/auth/verify-otp` with the code.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","password","phone"],"properties":{"name":{"type":"string","example":"John Doe"},"email":{"type":"string","format":"email","example":"john@example.com"},"password":{"type":"string","format":"password","example":"StrongPassword123"},"phone":{"type":"string","description":"Phone number in E.164 format","example":"+9779812345678"}}}}}},"responses":{"201":{"description":"User registered; OTP sent. No access token issued until phone is verified.","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John Doe","email":"john@example.com","phone":"+9779812345678","role":"USER","isVerified":false,"phoneVerifiedAt":null,"isOAuthUser":false,"createdAt":"2026-05-18T10:00:00.000Z","updatedAt":"2026-05-18T10:00:00.000Z"},"message":"OTP sent to phone. Verify to complete registration."}}}}},"409":{"description":"Email or phone already registered","content":{"application/json":{"example":{"success":false,"error":{"code":"PHONE_ALREADY_EXISTS","message":"Phone number already registered."}}}}}}}},"/api/v1/auth/login":{"post":{"summary":"Login user (requires verified phone)","description":"Standard email/password login. Returns `PHONE_NOT_VERIFIED` (403) if\nthe user has not yet completed SMS verification.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email","example":"john@example.com"},"password":{"type":"string","format":"password","example":"StrongPassword123"}}}}}},"responses":{"200":{"description":"Login successful","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John Doe","email":"john@example.com","phone":"+9779812345678","role":"USER","isVerified":true,"phoneVerifiedAt":"2026-05-18T10:05:00.000Z","isOAuthUser":false},"accessToken":"jwt_access_token_here"}}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"example":{"success":false,"error":{"code":"INVALID_CREDENTIALS","message":"Invalid credentials."}}}}},"403":{"description":"Phone not yet verified","content":{"application/json":{"example":{"success":false,"error":{"code":"PHONE_NOT_VERIFIED","message":"Phone number not verified. Complete OTP verification to log in."}}}}}}}},"/api/v1/auth/verify-otp":{"post":{"summary":"Verify SMS OTP and activate the account","description":"Verifies the 6-digit code sent to the user's phone. On success the\nuser is marked verified and an access token is returned (same shape\nas login). Codes expire after 10 minutes; max 5 attempts per code.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone","otp"],"properties":{"phone":{"type":"string","example":"+9779812345678"},"otp":{"type":"string","description":"6-digit code from SMS","example":"123456"}}}}}},"responses":{"200":{"description":"OTP verified; account activated","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","isVerified":true,"phoneVerifiedAt":"2026-05-18T10:05:00.000Z"},"accessToken":"jwt_access_token_here"}}}}},"400":{"description":"OTP invalid or expired","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_INVALID","message":"OTP code is invalid."}}}}},"404":{"description":"No pending OTP for this phone","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this phone number."}}}}},"409":{"description":"User already verified","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_ALREADY_VERIFIED","message":"User is already verified."}}}}},"429":{"description":"Too many failed attempts","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_TOO_MANY_ATTEMPTS","message":"Too many failed attempts. Request a new code."}}}}}}}},"/api/v1/auth/resend-otp":{"post":{"summary":"Resend SMS OTP","description":"Issues a fresh OTP for the supplied phone number. 60-second cooldown\nbetween resends; older unconsumed codes are invalidated.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone"],"properties":{"phone":{"type":"string","example":"+9779812345678"}}}}}},"responses":{"200":{"description":"OTP resent","content":{"application/json":{"example":{"success":true,"data":{"message":"OTP resent."}}}}},"404":{"description":"Phone number not registered","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this phone number."}}}}},"409":{"description":"User already verified","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_ALREADY_VERIFIED","message":"User is already verified."}}}}},"429":{"description":"Resend cooldown active","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_RESEND_COOLDOWN","message":"Please wait before requesting another code."}}}}}}}},"/api/v1/auth/me":{"get":{"summary":"Get the current authenticated user","tags":["Auth"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Current user profile","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John Doe","email":"john@example.com","username":"johnd","phone":"+9779812345678","role":"USER","isVerified":true,"phoneVerifiedAt":"2026-05-18T10:05:00.000Z","avatar":null,"isOAuthUser":false,"createdAt":"2026-05-18T10:00:00.000Z","updatedAt":"2026-05-18T10:00:00.000Z"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"success":false,"error":{"code":"AUTH_REQUIRED","message":"Authentication required."}}}}}}},"patch":{"summary":"Update the current user's profile","description":"Updates one or more of: name, username, avatar. At least one field\nmust be provided. Username must be unique.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"John D."},"username":{"type":"string","example":"johnd"},"avatar":{"type":"string","format":"uri","example":"https://cdn.example.com/avatars/abc.jpg"}}}}}},"responses":{"200":{"description":"Profile updated","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","name":"John D.","username":"johnd","avatar":"https://cdn.example.com/avatars/abc.jpg"}}}}}},"401":{"description":"Unauthorized"},"409":{"description":"Username already taken","content":{"application/json":{"example":{"success":false,"error":{"code":"USERNAME_TAKEN","message":"Username is already taken."}}}}}}}},"/api/v1/auth/change-password":{"post":{"summary":"Change the current user's password","description":"Requires the current password for re-authentication. The new password\nmust differ from the current one.\n","tags":["Auth"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["currentPassword","newPassword"],"properties":{"currentPassword":{"type":"string","format":"password","example":"OldPassword123"},"newPassword":{"type":"string","format":"password","example":"NewPassword456"}}}}}},"responses":{"200":{"description":"Password updated","content":{"application/json":{"example":{"success":true,"data":{"message":"Password updated."}}}}},"401":{"description":"Unauthorized or wrong current password","content":{"application/json":{"example":{"success":false,"error":{"code":"WRONG_CURRENT_PASSWORD","message":"Current password is incorrect."}}}}},"409":{"description":"New password matches the current one","content":{"application/json":{"example":{"success":false,"error":{"code":"SAME_PASSWORD","message":"New password must differ from the current password."}}}}}}}},"/api/v1/auth/forgot-password":{"post":{"summary":"Request a password-reset OTP","description":"Sends a 6-digit OTP to the supplied phone (purpose RESET_PASSWORD).\nAlways returns 200 — the response does not reveal whether the phone\nis registered, to prevent account enumeration. 60-second cooldown\napplies between consecutive requests for a registered phone.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone"],"properties":{"phone":{"type":"string","example":"+9779812345678"}}}}}},"responses":{"200":{"description":"If the phone is registered, an OTP has been dispatched","content":{"application/json":{"example":{"success":true,"data":{"message":"If the phone is registered, a reset code has been sent."}}}}},"429":{"description":"Resend cooldown active for this phone","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_RESEND_COOLDOWN","message":"Please wait before requesting another code."}}}}}}}},"/api/v1/auth/reset-password":{"post":{"summary":"Reset password using an OTP","description":"Verifies the RESET_PASSWORD OTP and updates the user's password. On\nsuccess returns a fresh access token.\n","tags":["Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone","otp","newPassword"],"properties":{"phone":{"type":"string","example":"+9779812345678"},"otp":{"type":"string","example":"123456"},"newPassword":{"type":"string","format":"password","example":"NewPassword456"}}}}}},"responses":{"200":{"description":"Password reset; access token returned","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","email":"john@example.com"},"accessToken":"jwt_access_token_here"}}}}},"400":{"description":"OTP invalid or expired","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_INVALID","message":"OTP code is invalid."}}}}},"404":{"description":"No pending reset OTP for this phone","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_NOT_FOUND","message":"No pending OTP for this phone number."}}}}},"429":{"description":"Too many failed attempts","content":{"application/json":{"example":{"success":false,"error":{"code":"OTP_TOO_MANY_ATTEMPTS","message":"Too many failed attempts. Request a new code."}}}}}}}},"/api/v1/events":{"get":{"summary":"List community events","description":"Public endpoint. Events are auto-created in `DRAFT` when an issue's\nvote threshold is reached. They become `SCHEDULED` once the assigned\nevent leader sets a date/meetup, and `COMPLETED` once results are\nrecorded. Use `status` + date filters to drive \"upcoming\" or \"past\nresults\" views.\n","tags":["Events"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["DRAFT","SCHEDULED","ACTIVE","PAUSED","COMPLETED","CANCELLED"]}},{"in":"query","name":"fromDate","description":"ISO datetime; filters `scheduledAt >= fromDate`","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"toDate","description":"ISO datetime; filters `scheduledAt <= toDate`","schema":{"type":"string","format":"date-time"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of events","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"9f1e22b0-4c3a-44e7-9c01-e1d2a83b22b0","status":"SCHEDULED","riskLevel":"NORMAL","scheduledAt":"2026-06-01T03:00:00.000Z","durationMinutes":120,"meetupAddress":"Lakeside main gate","issueId":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","eventLeaderId":"1b2..."}],"nextCursor":null}}}}}}}},"/api/v1/events/{id}":{"get":{"summary":"Get a single event by id (with issue + uploads + leader)","tags":["Events"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Event detail"},"404":{"description":"Event not found","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_FOUND","message":"Event not found."}}}}}}}},"/api/v1/events/{id}/schedule":{"patch":{"summary":"Schedule a DRAFT event (event leader only)","description":"Flips status `DRAFT → SCHEDULED`. Caller must be the assigned\n`eventLeader`. On success, an SMS is fanned out to every voter of\nthe linked issue (verified phones only).\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["scheduledAt"],"properties":{"scheduledAt":{"type":"string","format":"date-time","example":"2026-06-01T03:00:00.000Z"},"durationMinutes":{"type":"integer","example":120},"meetupLatitude":{"type":"number","example":28.213},"meetupLongitude":{"type":"number","example":83.957},"meetupAddress":{"type":"string","example":"Lakeside main gate"},"meetupNotes":{"type":"string","example":"Near the parking lot, look for the orange banner."},"planningNotes":{"type":"string"}}}}}},"responses":{"200":{"description":"Event scheduled"},"401":{"description":"Unauthorized"},"403":{"description":"Not the event leader, or user not verified","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_LEADER_ONLY","message":"Only the assigned event leader can perform this action."}}}}},"404":{"description":"Event not found"},"409":{"description":"Event is not in DRAFT status","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_IN_DRAFT","message":"Event must be in DRAFT status to be scheduled."}}}}}}}},"/api/v1/events/{id}/complete":{"post":{"summary":"Mark an event as completed and record results (event leader only)","description":"Flips status `SCHEDULED|ACTIVE|PAUSED → COMPLETED`, sets\n`completedAt`, `resultSummary`, `attendeeCount`. In the same\ntransaction the linked Issue.status flips to `COMPLETED`.\nOptionally attach pre-uploaded result photos via `uploadIds`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["resultSummary"],"properties":{"resultSummary":{"type":"string","example":"Removed ~80kg of plastic. 14 volunteers showed up."},"attendeeCount":{"type":"integer","example":14},"uploadIds":{"type":"array","description":"Confirmed uploads owned by caller, not already attached","items":{"type":"string","format":"uuid"},"maxItems":20}}}}}},"responses":{"200":{"description":"Event completed"},"401":{"description":"Unauthorized"},"403":{"description":"Not the event leader"},"404":{"description":"Event not found"},"409":{"description":"Event is not in a completable status","content":{"application/json":{"example":{"success":false,"error":{"code":"EVENT_NOT_COMPLETABLE","message":"Event must be SCHEDULED, ACTIVE or PAUSED to be completed."}}}}}}}},"/api/v1/events/{id}/leader":{"patch":{"summary":"Assign or change the event leader (admin only)","description":"The chosen user must exist and be verified. Typically picked from\nvoters with `voterRole = WANT_TO_LEAD` on the linked issue, but the\nendpoint does not enforce that — admin discretion.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["eventLeaderId"],"properties":{"eventLeaderId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Leader assigned"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin, or assigned user is not verified"},"404":{"description":"Event or leader user not found"}}}},"/api/v1/events/{id}/leader-voting":{"get":{"summary":"Get the current leader-voting state for an event","description":"Public read. Returns the leader-voting status, the candidates (with\nlive vote counts), the voting deadline, and the resolved leader (if\nany). Status values:\n- `NONE` — no voting (single WANT_TO_LEAD candidate, or fell back to\n  the issue reporter). `eventLeader` is set.\n- `OPEN` — voting in progress until `closesAt`.\n- `PENDING_ADMIN` — voting closed with a tie; admin must pick from\n  the listed candidates before `adminTieBreakClosesAt`.\n- `CLOSED` — voting resolved. `eventLeader` is set.\n","tags":["Events"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Leader-voting state","content":{"application/json":{"example":{"success":true,"data":{"eventId":"9f1e22b0-4c3a-44e7-9c01-e1d2a83b22b0","status":"OPEN","closesAt":"2026-05-22T10:00:00.000Z","adminTieBreakClosesAt":null,"eventLeader":null,"candidates":[{"id":"1b2...","name":"Alice","username":"alice","avatar":null,"voteCount":3},{"id":"1b3...","name":"Bob","username":"bob","avatar":null,"voteCount":5}]}}}}},"404":{"description":"Event not found"}}}},"/api/v1/events/{id}/leader-vote":{"post":{"summary":"Cast or update your leader vote","description":"Requires a verified user who voted on the linked issue. One vote per\nvoter per event — re-posting updates the existing vote. Only allowed\nwhile leader voting is `OPEN` and before `closesAt`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["candidateId"],"properties":{"candidateId":{"type":"string","format":"uuid","description":"Must be one of the event's `leaderCandidateIds`"}}}}}},"responses":{"201":{"description":"Vote recorded; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"User not verified, or did not vote on the linked issue","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTER_NOT_ELIGIBLE","message":"Only voters of the issue can vote for its leader."}}}}},"404":{"description":"Event not found"},"409":{"description":"Voting is not OPEN, has closed, or candidate is invalid","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTING_NOT_OPEN","message":"Leader voting is not currently open for this event."}}}}}}},"delete":{"summary":"Retract your leader vote","description":"Only allowed while leader voting is still OPEN.","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Vote retracted; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Event or vote not found"},"409":{"description":"Leader voting is not OPEN, or has closed"}}}},"/api/v1/events/{id}/leader-voting/settle":{"post":{"summary":"Settle leader voting once its deadline has passed","description":"Time-driven finalizer. Safe to call repeatedly — mutates state only\nwhen a deadline has actually passed. Intended to be hit by a cron job\nor admin tooling.\n- From `OPEN` past `closesAt`: tallies votes; sets `CLOSED` with the\n  winning leader, or `PENDING_ADMIN` if there is a tie (and starts\n  the admin tie-break window).\n- From `PENDING_ADMIN` past `adminTieBreakClosesAt`: randomly picks\n  one of the tied candidates and closes voting.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Updated leader-voting state"},"401":{"description":"Unauthorized"},"404":{"description":"Event not found"},"409":{"description":"Voting is not in a settleable state, or its deadline has not passed yet","content":{"application/json":{"example":{"success":false,"error":{"code":"LEADER_VOTING_NOT_DUE","message":"Leader voting deadline has not passed yet."}}}}}}}},"/api/v1/events/{id}/leader-voting/tie-break":{"patch":{"summary":"Resolve a leader-voting tie (admin only)","description":"Allowed only while status is `PENDING_ADMIN`. The chosen candidate\nmust be one of the tied candidates (snapshotted in\n`leaderCandidateIds` after the initial tally). On success the event\nleader is set and status flips to `CLOSED`.\n","tags":["Events"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["candidateId"],"properties":{"candidateId":{"type":"string","format":"uuid"}}}}}},"responses":{"200":{"description":"Leader set; returns updated leader-voting state"},"401":{"description":"Unauthorized"},"403":{"description":"Caller is not admin"},"404":{"description":"Event not found"},"409":{"description":"Voting is not in PENDING_ADMIN, or candidate is not among the tied set"}}}},"/api/v1/feedback":{"post":{"summary":"Create feedback","tags":["Feedback"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","email","type","message"],"properties":{"name":{"type":"string","example":"Jane Doe"},"email":{"type":"string","format":"email","example":"jane@example.com"},"type":{"type":"string","enum":["SUGGESTION","BUG_REPORT","QUESTION","GENERAL"],"example":"BUG_REPORT"},"message":{"type":"string","example":"The dashboard submit button does not respond."},"experienceRating":{"type":"integer","minimum":1,"maximum":5,"example":4},"screenshot":{"type":"string","format":"uri","example":"https://example.com/uploads/bug.png"}}}}}},"responses":{"201":{"description":"Feedback created successfully"}}},"get":{"summary":"Get all feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"type","schema":{"type":"string","enum":["SUGGESTION","BUG_REPORT","QUESTION","GENERAL"]}},{"in":"query","name":"status","schema":{"type":"string","enum":["NEW","REVIEWED","IN_PROGRESS","RESOLVED","CLOSED"]}}],"responses":{"200":{"description":"Feedback list fetched successfully"}}}},"/api/v1/feedback/{id}":{"get":{"summary":"Get feedback by id (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Feedback fetched successfully"}}},"delete":{"summary":"Delete feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Feedback deleted successfully"}}}},"/api/v1/feedback/{id}/status":{"patch":{"summary":"Update feedback status (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["NEW","REVIEWED","IN_PROGRESS","RESOLVED","CLOSED"]}}}}}},"responses":{"200":{"description":"Feedback status updated successfully"}}}},"/api/v1/feedback/{id}/reply":{"patch":{"summary":"Reply to feedback (Admin only)","tags":["Feedback"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["adminReply"],"properties":{"adminReply":{"type":"string","example":"Thanks, this has been sent to the product team."}}}}}},"responses":{"200":{"description":"Feedback reply saved successfully"}}}},"/api/v1/issues":{"get":{"summary":"List community issues","description":"Public endpoint. Returns paginated issues, sorted by `voteCount` desc\nby default. Use `cursor` from `nextCursor` for the next page.\n","tags":["Issues"],"parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["OPEN","EVENT_SCHEDULED","COMPLETED","REJECTED","DUPLICATE"]}},{"in":"query","name":"category","schema":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"]}},{"in":"query","name":"sort","schema":{"type":"string","enum":["voteCount","createdAt"],"default":"voteCount"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","description":"Issue id to paginate from","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of issues","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","title":"Trash piling near Phewa Lake inlet","category":"RIVERBANK","status":"OPEN","voteCount":7,"latitude":28.213,"longitude":83.957,"addressText":"Lakeside, Pokhara","createdAt":"2026-05-18T10:00:00.000Z"}],"nextCursor":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01"}}}}}}},"post":{"summary":"Report a new issue","description":"Requires a verified user. To attach photos, pre-upload them via\n`/uploads/presign` + PUT + `/uploads/{id}/confirm`, then pass the\nresulting upload IDs in `uploadIds`. The uploads must be owned by\nthe caller, confirmed, and not yet attached to another issue.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","description","category","latitude","longitude","addressText"],"properties":{"title":{"type":"string","example":"Trash piling near Phewa Lake inlet"},"description":{"type":"string","example":"Garbage accumulation blocking the inflow stream..."},"category":{"type":"string","enum":["ROADSIDE","VACANT_LAND","RIVERBANK","DRAINAGE","PARK_PUBLIC_SPACE","HIKING_TRAIL","OTHER"],"example":"RIVERBANK"},"latitude":{"type":"number","example":28.213},"longitude":{"type":"number","example":83.957},"addressText":{"type":"string","example":"Lakeside, Pokhara"},"municipality":{"type":"string","example":"Pokhara Metropolitan City"},"ward":{"type":"string","example":"6"},"uploadIds":{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":10}}}}}},"responses":{"201":{"description":"Issue created"},"401":{"description":"Unauthorized"},"403":{"description":"User not verified (phone OTP required)","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_NOT_VERIFIED","message":"Phone verification required."}}}}}}}},"/api/v1/issues/{id}":{"get":{"summary":"Get a single issue by id","tags":["Issues"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Issue details with attached uploads"},"404":{"description":"Issue not found","content":{"application/json":{"example":{"success":false,"error":{"code":"ISSUE_NOT_FOUND","message":"Issue not found."}}}}}}}},"/api/v1/issues/{id}/vote":{"post":{"summary":"Upvote an issue","description":"Requires a verified user. One vote per user per issue (enforced at\nDB level). When the issue's `voteCount` hits the promotion threshold,\nthe issue status flips to `EVENT_SCHEDULED` and an SMS is dispatched\nto all voters.\n","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["voterRole"],"properties":{"voterRole":{"type":"string","enum":["INTERESTED","GOING","WANT_TO_LEAD"],"description":"Commitment level the voter is signing up for. Used later\nto assign roles when the issue converts to an event.\n","example":"GOING"}}}}}},"responses":{"201":{"description":"Vote recorded","content":{"application/json":{"example":{"success":true,"data":{"voteCount":8,"status":"OPEN"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Issue not found"},"409":{"description":"Already voted, or issue is not OPEN","content":{"application/json":{"example":{"success":false,"error":{"code":"ALREADY_VOTED","message":"You have already voted on this issue."}}}}}}},"delete":{"summary":"Retract your vote on an issue","description":"Only allowed while the issue is still OPEN.","tags":["Issues"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Vote retracted","content":{"application/json":{"example":{"success":true,"data":{"voteCount":7}}}}},"401":{"description":"Unauthorized"},"403":{"description":"User not verified"},"404":{"description":"Issue or vote not found"},"409":{"description":"Issue is not OPEN"}}}},"/api/v1/uploads/presign":{"post":{"summary":"Request a presigned URL to upload a file directly to R2","tags":["Uploads"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["filename","mimeType","size"],"properties":{"filename":{"type":"string","example":"profile.png"},"mimeType":{"type":"string","example":"image/png"},"size":{"type":"integer","example":204800},"isPublic":{"type":"boolean","default":false,"example":false},"fileType":{"type":"string","enum":["IMAGE","VIDEO","AUDIO","DOCUMENT","ARCHIVE","OTHER"],"example":"IMAGE"},"metadata":{"type":"object","additionalProperties":true}}}}}},"responses":{"201":{"description":"Presigned URL issued. Use it to PUT the file to R2, then call confirm.","content":{"application/json":{"example":{"success":true,"data":{"upload":{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","slug":"a1b2c3d4e5f6a7b8","filename":"profile.png","mimeType":"image/png","size":204800,"isPublic":false,"isConfirmed":false,"key":"uploads/private/abc123.png"},"presignedUrl":"https://<bucket>.r2.cloudflarestorage.com/...","expiresIn":300}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"success":false,"error":{"code":"AUTH_REQUIRED","message":"Authentication required."}}}}}}}},"/api/v1/uploads/{id}/confirm":{"post":{"summary":"Confirm that an uploaded file is in R2","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Upload confirmed","content":{"application/json":{"example":{"success":true,"data":{"id":"8c2e21b6-2b7f-4d49-b0e3-2f9a1f7d8a01","isConfirmed":true,"downloadUrl":"https://..."}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (not the owner)"},"404":{"description":"Upload or file not found"}}}},"/api/v1/uploads/me":{"get":{"summary":"List the current user's uploads","tags":["Uploads"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Uploads fetched successfully"},"401":{"description":"Unauthorized"}}}},"/api/v1/uploads/{slug}":{"get":{"summary":"Get an upload by slug (public uploads are open; private uploads require ownership)","tags":["Uploads"],"parameters":[{"in":"path","name":"slug","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Upload fetched successfully"},"403":{"description":"Forbidden (private upload, not owner)"},"404":{"description":"Upload not found"}}}},"/api/v1/uploads/{id}/visibility":{"patch":{"summary":"Toggle an upload between public and private (moves the file in R2)","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["isPublic"],"properties":{"isPublic":{"type":"boolean","example":true}}}}}},"responses":{"200":{"description":"Visibility updated"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (not the owner)"},"404":{"description":"Upload not found"}}}},"/api/v1/uploads/{id}":{"delete":{"summary":"Delete an upload (owner; admins can delete any)","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Upload deleted successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (not the owner and not an admin)"},"404":{"description":"Upload not found"}}}},"/api/v1/uploads":{"get":{"summary":"List all uploads (admin only)","tags":["Uploads"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"isPublic","schema":{"type":"string","enum":["true","false"]}},{"in":"query","name":"isConfirmed","schema":{"type":"string","enum":["true","false"]}},{"in":"query","name":"userId","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Uploads fetched successfully"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (not an admin)"}}}},"/api/v1/users":{"get":{"summary":"List users (admin only)","description":"Paginated list of users. Supports filtering by role / verification\nstatus and a case-insensitive search across email, name, username,\nand phone. Use `cursor` from `nextCursor` for subsequent pages.\n","tags":["Users"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"role","schema":{"type":"string","enum":["USER","ADMIN"]}},{"in":"query","name":"isVerified","schema":{"type":"boolean"}},{"in":"query","name":"search","schema":{"type":"string","example":"john"}},{"in":"query","name":"limit","schema":{"type":"integer","default":20,"minimum":1,"maximum":100}},{"in":"query","name":"cursor","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"List of users","content":{"application/json":{"example":{"success":true,"data":{"items":[{"id":"clx123abc","email":"john@example.com","name":"John Doe","username":"johnd","phone":"+9779812345678","role":"USER","isVerified":true,"createdAt":"2026-05-18T10:00:00.000Z"}],"nextCursor":"clx123abc"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"example":{"success":false,"error":{"code":"AUTH_REQUIRED","message":"Authentication required."}}}}},"403":{"description":"Forbidden (not admin)","content":{"application/json":{"example":{"success":false,"error":{"code":"ADMIN_ONLY","message":"Access denied."}}}}}}}},"/api/v1/users/{id}":{"get":{"summary":"Get a user by id (admin only)","tags":["Users"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"User profile","content":{"application/json":{"example":{"success":true,"data":{"id":"clx123abc","email":"john@example.com","role":"USER","isVerified":true}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden (not admin)"},"404":{"description":"User not found","content":{"application/json":{"example":{"success":false,"error":{"code":"USER_NOT_FOUND","message":"User not found."}}}}}}}},"/api/v1/users/{id}/role":{"patch":{"summary":"Change a user's role (admin only)","description":"Promote a user to ADMIN or demote an ADMIN back to USER. An admin\ncannot change their own role — sign in as another admin to perform\na self-demotion.\n","tags":["Users"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["role"],"properties":{"role":{"type":"string","enum":["USER","ADMIN"],"example":"ADMIN"}}}}}},"responses":{"200":{"description":"Role updated","content":{"application/json":{"example":{"success":true,"data":{"user":{"id":"clx123abc","email":"john@example.com","role":"ADMIN"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden — not admin, or attempting to change own role","content":{"application/json":{"example":{"success":false,"error":{"code":"CANNOT_CHANGE_OWN_ROLE","message":"You cannot change your own role."}}}}},"404":{"description":"User not found"}}}}},"tags":[]}